---

# Firstly copy dci-tnf-execution.log and tnf_config.yml files in the log directory, because they will be present
# 100% sure, even with a failed execution.
# Just checking if they are present just in case there are issues that are external to CNF Cert.
- name: Check the presence of dci-tnf-execution.log
  stat:
    path: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/dci-tnf-execution.log"
  register: dci_tnf_execution_present

- name: Copy dci-tnf-execution.log in log folder
  copy:
    src: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/dci-tnf-execution.log"
    dest: "{{ job_logs.path }}"
  when: dci_tnf_execution_present.stat.exists|bool

- name: Check the presence of tnf_config.yml
  stat:
    path: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/tnf_config.yml"
  register: tnf_config_present

- name: Copy tnf_config.yml in log folder
  copy:
    src: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/tnf_config.yml"
    dest: "{{ job_logs.path }}"
  when: tnf_config_present.stat.exists|bool

# claim.json file must be present if the execution finished correctly, else make the job to fail
- name: Check the presence of claim.json
  stat:
    path: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/claim.json"
  register: claim_json_present

- name: CNF Cert Suite execution did not finish correctly
  fail:
    msg: claim.json file does not exist, so CNF Cert Suite execution did not finish correctly
  when: not claim_json_present.stat.exists|bool

# If claim.json is present, we can assume the execution went fine, so we can continue copying files
- name: Copy claim.json in log folder
  copy:
    src: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/claim.json"
    dest: "{{ job_logs.path }}"
  when: claim_json_present.stat.exists|bool

- name: Check the presence of JUnit XML report
  stat:
    path: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/cnf-certification-tests_junit.xml"
  register: dci_tnf_execution_present

- name: Copy JUnit XML report in log folder
  copy:
    path: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}/cnf-certification-tests_junit.xml"
    dest: "{{ job_logs.path }}"
  when: dci_tnf_execution_present.stat.exists|bool

# This is just for v4.3.0
- name: Copy Javascript files generated by CNF Cert execution
  block:
    - name: Find Javascript files in CNF Cert directory
      find:
        paths: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}"
        patterns: "*.js"
      register: find_javascript

    - name: Copy Javascript files in an auxiliary folder before compressing them with HTML report
      copy:
        path: "{{ item['path'] }}"
        dest: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script"
      with_items: "{{ find_javascript['files'] }}"

    - name: Compress HTML results web page to upload it to DCI
      archive:
        path:
          - "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script/classification.js"
          - "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script/claimjson.js"
          - "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script/results-embed.html"
          - "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script/results.html"
        dest: "{{ job_logs.path }}/tnf-results-web-page.tar.gz"
  when: test_network_function_version is version("v4.3.0", "==")

# This is just for HEAD version
- name: Copy tar.gz report generated by CNF Cert execution
  block:
    - name: Find tar.gz report in CNF Cert directory
      find:
        paths: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}"
        patterns: "*-cnf-test-results.tar.gz"
      register: find_tar_gz_report

    - name: Copy tar.gz report in log folder
      copy:
        path: "{{ item['path'] }}"
        dest: "{{ job_logs.path }}"
      with_items: "{{ find_tar_gz_report['files'] }}"
  when: test_network_function_version == "HEAD"


...
