---

- name: Install the Go toolchain and make
  become: yes
  dnf:
    name: 
        - go-toolset
        - make
    state: latest

- name: Install ginkgo package
  shell: |
    set -ex
    go get -u github.com/onsi/ginkgo/ginkgo

- name: Clone test-network-function
  git:
    repo: "{{ test_network_function_repo }}"
    version: "{{ test_network_function_version }}"
    dest: "{{ tnf_git_dir }}/test_network_function"
    force: yes
  # On RHEL8 git clone can sporadically fail with OpenSSL SSL_read:
  # SSL_ERROR_SYSCALL, errno 104. This is a workaround to try cloning the repo
  # multiple times.
  register: test_network_function_gitref
  retries: 3
  delay: 10
  until: not test_network_function_gitref.failed

- name: Clone cnf-certification-test-partner
  git:
    repo: "{{ cnf_certification_test_partner_repo }}"
    version: "{{ cnf_certification_test_partner_version }}"
    dest: "{{ tnf_git_dir }}/cnf_certification_test_partner"
    force: yes
  # On RHEL8 git clone can sporadically fail with OpenSSL SSL_read:
  # SSL_ERROR_SYSCALL, errno 104. This is a workaround to try cloning the repo
  # multiple times.
  register: cnf_certification_test_partner_gitref
  retries: 3
  delay: 10
  until: not cnf_certification_test_partner_gitref.failed

- name: "cnf-cert : Save images in local registry"
  include_tasks: save-images.yml
  when:
    - provisionhost_registry|length
    - provisionhost_registry_creds|length

- name: Create temp directory
  file:
    path: "{{ tnf_git_dir }}/cnf_certification_test_partner/temp"
    state: directory

- name: Check if tnf namespace exists
  k8s_info:
    api_version: v1
    kind: Namespace
    name: tnf
  register: tnf_namespace

- name: Create tnf namespace
  shell: |
    set -ex
    cd {{ tnf_git_dir }}/cnf_certification_test_partner
    export TNF_PARTNER_NAMESPACE="tnf"
    cat ./local-test-infra/namespace.yaml | ./script/mo > ./temp/rendered-namespace.yaml
    oc apply -f ./temp/rendered-namespace.yaml
  when: tnf_namespace.resources|length == 0

- name: Check if partner pod exists
  k8s_info:
    api_version: v1
    kind: Pod
    namespace: tnf
    label_selectors:
      - test-network-function.com/generic = orchestrator
  register: partner_pods

- name: Build the partner pod
  shell: |
    set -ex
    cd {{ tnf_git_dir }}/cnf_certification_test_partner
    export TNF_PARTNER_NAMESPACE="tnf"
    cat ./local-test-infra/local-partner-deployment.yaml | ./script/mo > ./temp/rendered-partner-template.yaml
    oc apply -f ./temp/rendered-partner-template.yaml
    sleep 3
    oc wait pod -n $TNF_PARTNER_NAMESPACE --for=condition=ready -l "app=partner" --timeout=30s
  when: partner_pods.resources|length == 0

#- name: Delete temp directory
#  file:
#    path: "{{ tnf_git_dir }}/cnf_certification_test_partner/temp"
#    state: absent

#- name: Build the CNF Test Suite
#  shell: |
#    set -ex
#    cd {{ tnf_git_dir }}/test_network_function
#    make build-cnf-tests

...
