---

- name: Install the Go toolchain and make
  become: yes
  dnf:
    name: 
        - go-toolset
        - make
    state: latest

- name: Install ginkgo package
  shell: |
    set -ex
    go get -u github.com/onsi/ginkgo/ginkgo

- name: Clone test-network-function
  git:
    repo: "{{ test_network_function_repo }}"
    version: "{{ test_network_function_version }}"
    dest: "{{ tnf_git_dir }}/test_network_function"
    force: yes
  # On RHEL8 git clone can sporadically fail with OpenSSL SSL_read:
  # SSL_ERROR_SYSCALL, errno 104. This is a workaround to try cloning the repo
  # multiple times.
  register: test_network_function_gitref
  retries: 3
  delay: 10
  until: not test_network_function_gitref.failed

- name: "cnf-cert : Save images in local registry"
  include_tasks: save-images.yml
  when:
    - provisionhost_registry|length
    - provisionhost_registry_creds|length

- name: Retrieve test-network-function container image
  block:
  - name: Create variable with version name
    set_fact:
      tnf_version_image: "{{ ( test_network_function_version | regex_search('v[0-9].[0-9].[0-9]') ) | ternary(test_network_function_version, 'unstable') }}"

  - name: Pull image
    shell: |
      set -ex
      podman pull quay.io/testnetworkfunction/test-network-function:{{ tnf_version_image }}

...
