---

- name: Install make
  become: yes
  dnf:
    name: make
    state: present

- name: Install Go toolset 1.16
  block:
  - name: Check if Go is installed in the server
    shell: whereis go
    register: whereis_go

  - name: Retrieve installed Go version
    shell: go version
    register: go_version
    when: whereis_go.stdout.find('/usr/bin/go') != -1

  - name: Uninstall Go toolset if provided by dnf
    become: yes
    dnf:
      name: go-toolset
      state: absent
    when: whereis_go.stdout.find('/usr/bin/go') != -1 and go_version.stdout.find('1.16') == -1

  - name: Remove Go symbolic link
    file:
      path: "/usr/bin/go"
      state: absent
    become: yes
    when: whereis_go.stdout.find('/usr/bin/go') != -1 and go_version.stdout.find('1.16') == -1

  - name: Download Go 1.16
    unarchive:
      src: "{{ go_toolset_binary | default('https://dl.google.com/go/go1.16.9.linux-amd64.tar.gz') }}"
      dest: /usr/local
      remote_src: yes
    become: yes
    when: (whereis_go.stdout.find('/usr/bin/go') != -1 and go_version.stdout.find('1.16') == -1) or whereis_go.stdout.find('/usr/bin/go') == -1

  - name: Create Go symbolic link
    file:
      src: "/usr/local/go/bin/go"
      dest: "/usr/bin/go"
      state: link
    become: yes
    when: (whereis_go.stdout.find('/usr/bin/go') != -1 and go_version.stdout.find('1.16') == -1) or whereis_go.stdout.find('/usr/bin/go') == -1

  - name: Retrieve Go version
    shell: go version
    register: go_version

  - name: Show Go version
    debug:
      msg: "{{ go_version.stdout }}"

- name: Install ginkgo package
  shell: |
    set -ex
    go get -u github.com/onsi/ginkgo/ginkgo

- name: Create temporary directory for git repos
  tempfile:
    state: directory
  register: tnf_git_dir

- name: Clone test-network-function
  git:
    repo: "{{ test_network_function_repo }}"
    version: "{{ test_network_function_version }}"
    dest: "{{ tnf_git_dir.path }}/test_network_function"
    force: yes
  # On RHEL8 git clone can sporadically fail with OpenSSL SSL_read:
  # SSL_ERROR_SYSCALL, errno 104. This is a workaround to try cloning the repo
  # multiple times.
  register: test_network_function_gitref
  retries: 3
  delay: 10
  until: not test_network_function_gitref.failed

- name: Clone cnf-certification-test-partner
  git:
    repo: "{{ cnf_certification_test_partner_repo }}"
    version: "{{ cnf_certification_test_partner_version }}"
    dest: "{{ tnf_git_dir.path }}/cnf_certification_test_partner"
    force: yes
  # On RHEL8 git clone can sporadically fail with OpenSSL SSL_read:
  # SSL_ERROR_SYSCALL, errno 104. This is a workaround to try cloning the repo
  # multiple times.
  register: cnf_certification_test_partner_gitref
  retries: 3
  delay: 10
  until: not cnf_certification_test_partner_gitref.failed

# Following these examples:
# https://github.com/test-network-function/cnf-certification-test-partner/blob/v3.0.0/deploy-partner-pods.sh
# https://github.com/test-network-function/cnf-certification-test-partner/blob/v3.0.0/deploy-test-pods.sh
- name: Build the partner pod image
  shell: |
    set -ex
    mkdir -p ./temp

    if [ -n "{{ provisionhost_registry }}" -a -n "{{ provisionhost_registry_creds }}" ]; then
      export BUILDAH_FORMAT=docker
      podman build -f ./test-partner/Dockerfile -t testnetworkfunction/cnf-test-partner
      podman tag testnetworkfunction/cnf-test-partner {{ provisionhost_registry }}/testnetworkfunction/cnf-test-partner
      podman push --authfile {{ provisionhost_registry_creds }} {{ provisionhost_registry }}/testnetworkfunction/cnf-test-partner
      sed -i -e 's@quay.io/testnetworkfunction/cnf-test-partner:latest@{{ provisionhost_registry }}/testnetworkfunction/cnf-test-partner@' ./local-test-infra/local-partner-deployment.yaml
    fi
  args:
    chdir: "{{ tnf_git_dir.path }}/cnf_certification_test_partner"

- name: Check if tnf namespace exists
  k8s_info:
    api_version: v1
    kind: Namespace
    name: tnf
  register: tnf_namespace

- name: Create tnf namespace
  shell: |
    set -ex
    export NAMESPACE_TO_GENERATE="tnf"
    cat ./local-test-infra/namespace.yaml | ./script/mo > ./temp/rendered-namespace.yaml
    oc apply -f ./temp/rendered-namespace.yaml
    rm ./temp/rendered-namespace.yaml
  args:
    chdir: "{{ tnf_git_dir.path }}/cnf_certification_test_partner"
  when: tnf_namespace.resources|length == 0

- name: Check if partner pod exists
  k8s_info:
    api_version: v1
    kind: Pod
    namespace: tnf
    label_selectors:
      - test-network-function.com/generic = orchestrator
  register: partner_pods

- name: Build the partner pod
  shell: |
    set -ex
    export NAMESPACE_TO_GENERATE="tnf"
    cat ./local-test-infra/local-partner-deployment.yaml | ./script/mo > ./temp/rendered-partner-template.yaml
    oc apply -f ./temp/rendered-partner-template.yaml
    rm ./temp/rendered-partner-template.yaml
  args:
    chdir: "{{ tnf_git_dir.path }}/cnf_certification_test_partner"
  when: partner_pods.resources|length == 0

- name: Build the CNF Test Suite
  shell: |
    set -ex
    make build-cnf-tests
  args:
    chdir: "{{ tnf_git_dir.path }}/test_network_function"

...
