---

- name: Copy cnf-test-partner image
  shell: |
    set -ex
    skopeo copy --authfile {{ provisionhost_registry_creds }} \
    docker://quay.io/testnetworkfunction/cnf-test-partner:latest \
    docker://{{ provisionhost_registry }}/testnetworkfunction/cnf-test-partner

- name: Copy image to be used with oc debug
  block:
  - name: Create variable with only image name
    set_fact:
      tnf_debug_image_name: "{{ tnf_debug_image | regex_search('/.*') }}"

  # tnf_debug_image_name starts with '/'
  - name: Copy image
    shell: |
      set -ex
      skopeo copy --authfile {{ provisionhost_registry_creds }} \
      docker://quay.io{{ tnf_debug_image_name }} \
      docker://{{ provisionhost_registry }}{{ tnf_debug_image_name }}

...
