---
- name: Create temporary build directory
  tempfile:
    state: directory
  register: tnf_tempdir
  when: tnf_tempdir is not defined

- name: Template tnf_config.yml
  template:
    src: templates/tnf_config.yml.j2
    dest: "{{ tnf_tempdir.path }}/tnf_config.yml"

- name: Run the CNF Test Suite
  shell: |
    set -x
    
    rm -f test-network-function/*.xml test-network-function/tnf_config.yml
    cp {{ tnf_tempdir.path }}/tnf_config.yml test-network-function/

    export TNF_NON_INTRUSIVE_ONLY={{ tnf_non_intrusive_only }}
    export VERIFY_CNF_FEATURES={{ verify_cnf_features }}
    ./run-cnf-suites.sh -f {{ tnf_suites }} &> test-network-function/execution.log

    cp test-network-function/*.xml {{ tnf_tempdir.path }}
    cp test-network-function/execution.log {{ tnf_tempdir.path }}
  args:
    chdir: "{{ tnf_git_dir }}/test_network_function"

...
