---
- name: Create temporary build directory
  tempfile:
    state: directory
  register: tnf_tempdir
  when: tnf_tempdir is not defined

- name: (temporary task until having tnf v3.0.1) Check if target namespaces can be defined
  shell: |
    set -x
    grep -c targetNameSpaces {{ tnf_git_dir.path }}/test_network_function/test-network-function/tnf_config.yml || :
  register: target_namespaces_output

- name: (temporary task until having tnf v3.0.1) Set autodiscovering variables
  set_fact:
    target_namespaces: "{{ target_namespaces_output.stdout }}"

- name: Template tnf_config.yml
  template:
    src: templates/tnf_config.yml.j2
    dest: "{{ tnf_git_dir.path }}/test_network_function/test-network-function/tnf_config.yml"

- name: Set tnf_partner_registry variable
  set_fact:
    tnf_partner_registry: "{{ ( provisionhost_registry|length and provisionhost_registry_creds|length ) | ternary(provisionhost_registry, 'quay.io') }}"

- name: Run the CNF Test Suite
  shell: |
    set -x

    rm -f test-network-function/*.xml

    export TNF_NON_INTRUSIVE_ONLY={{ tnf_non_intrusive_only }}
    export TNF_IMAGE=quay.io/testnetworkfunction/test-network-function:{{ tnf_version_image }}
    export LOG_LEVEL=debug

    if [ "{{ target_namespaces }}" != "0" ]; then
      export TNF_RUN_CFD_TEST={{ tnf_run_cfd_test }}
      export TNF_OC_DEBUG_IMAGE_ID={{ tnf_debug_image }}
      export TNF_PARTNER_NAMESPACE={{ dci_openshift_app_ns }}
      export TNF_PARTNER_REPO={{ tnf_partner_registry }}/testnetworkfunction
    else
      export VERIFY_CNF_FEATURES={{ tnf_run_cfd_test }}
    fi

    ./run-tnf-container.sh -k {{ kubeconfig_path }} \
    -t {{ tnf_git_dir.path }}/test_network_function/test-network-function \
    -o {{ tnf_git_dir.path }}/test_network_function/test-network-function \
    -f {{ tnf_suites }} &> test-network-function/execution.log

    cp test-network-function/*.xml {{ tnf_tempdir.path }}
    cp test-network-function/execution.log {{ tnf_tempdir.path }}
    cp test-network-function/tnf_config.yml {{ tnf_tempdir.path }}
  args:
    chdir: "{{ tnf_git_dir.path }}/test_network_function"

...
