---

- name: Get a list of pods
  k8s_info:
    api_version: v1
    kind: pod
    namespace: "{{ tnf_ns }}"
  register: tnf_pod_list

- name: Get a list of csv
  k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: ClusterServiceVersion
    namespace: "{{ tnf_ns }}"
  register: tnf_csv_list

- name: Template generic_test_configuration.yml
  template:
    src: templates/generic_test_configuration.yml.j2
    dest: "{{ job_logs.path }}/generic_test_configuration.yml"

- name: Template cnf_test_configuration.yml
  template:
    src: templates/cnf_test_configuration.yml.j2
    dest: "{{ job_logs.path }}/cnf_test_configuration.yml"

- name: Run the CNF Test Suite
  shell: |
    set -x
    sed -i -e 's@:latest@:{{ 'latest' if test_network_function_version == 'HEAD' else test_network_function_version }}@' -e 's@\(.*-v .*\) \\@\1:z \\@' run-container.sh
    ./run-container.sh -t {{ job_logs.path }} -o {{ job_logs.path }} {{ tnf_suites }} || :
  args:
    chdir: "{{ tnf_git_dir }}/test_network_function"

...
