---
- name: "Validate we have all the pieces"
  assert:
    that:
      - kubeconfig_path is defined
      - ocp_version_full is defined
      - partner_name is defined
    fail_msg: "Missing required parameters/variables"
    success_msg: "All required parameters/variables are defined"

- name: "Get tools"
  include_tasks: get-tools.yml

## Temporary disabled, failing with images with the images 
## with format like rhscl/mongodb-36-rhel7:1-65
# - name: "Mirror chart images"
#   include_tasks: mirror-chart-images.yml
#   when: dci_disconnected | default(false) | bool

- name: "Create working directory"
  tempfile:
    state: directory
  register: work_dir

- name: "Set Logs path"
  set_fact:
    logs_dir: "{{ job_logs.path | default ('/tmp')}}"

- name: "Run the tests"
  include_tasks: tests.yml
  loop: "{{ dci_charts }}"
  loop_control:
    loop_var: chart
    label: "{{ chart.chart_file }}"
...
