---
- name: "Validate we have all the pieces"
  assert:
    that:
      - kubeconfig_path is defined
      - ocp_version_full is defined
      - partner_name is defined
      - partner_email is defined
      - github_token_path is defined
      - dci_charts is defined
    fail_msg: "Missing required parameters/variables"
    success_msg: "All required parameters/variables are defined"

- name: "Get tools"
  include_tasks: get-tools.yml

## Temporary disabled, failing with images
## with format like rhscl/mongodb-36-rhel7:1-65
# - name: "Mirror chart images"
#   include_tasks: mirror-chart-images.yml
#   when: dci_disconnected | default(false) | bool

- name: "Set Logs path"
  set_fact:
    logs_dir: "{{ job_logs.path | default ('/tmp')}}"

- name: "Set target repository"
  set_fact:
    target_repository: "{{ sandbox_repository | default('openshift-helm-charts/charts') }}"

- name: "Render submission report header"
  vars:
    partner: "{{  partner_name | replace(' ','_') }}"
  template:
    src: report.j2
    dest: "{{ logs_dir }}/helm-submission-report.txt"

- name: "Run the tests"
  include_tasks: tests.yml
  loop: "{{ dci_charts }}"
  loop_control:
    loop_var: chart
    index_var: index
...
