
---

- name: "Login to Github"
  shell: "./gh auth login --with-token < {{ github_token_path }}"
  args:
    chdir: "{{ work_dir }}"
  register: gh_login
  failed_when: gh_login.rc != 0

- name: "Set local branch name"
  set_fact:
      local_branch: "gh auth status 2>&1 | grep Logged | awk -F'as ' '{print $2}' | cut -d' ' -f1"

- name: "Remove  local repository"
  shell: "./gh repo delete charts --confirm"
  register: gh_delete_repo
  args:
    chdir: "{{ work_dir }}"

- name: "Generate a one time use SSH key" 
  openssh_keypair:
    path: "{{ work_dir }}/ssh_key"
    type: ed25519
    state: present
    force: no

- name: "Read public key file contents"
  set_fact:
    public_key: "{{ lookup('file', '{{ work_dir }}/ssh_key.pub' ) }}"

- name: "Add ssh-key to Github"
  shell: "./gh api -X POST user/keys -f key='{{ public_key }}'"
  register: gh_add_response
  args:
    chdir: "{{ work_dir }}"

- name: "Get the SSK key ID"
  set_fact:
    key_id: "{{ ( gh_add_response.stdout | from_json ).id }}"

- name: "Fork the {{ target_repository }} for Helm {{ chart_name }}"
  shell: "./gh repo fork {{ target_repository }} --clone"
  args:
    chdir: "{{ work_dir }}"
  register: gh_fork
  failed_when: gh_fork.rc != 0

- name: "Git create a local branch"
  shell: "git checkout -b {{ local_branch }}"
  args:
    chdir: "{{ work_dir }}/charts/charts"

- name: "Set chart path"
  vars:
    partner: "{{  partner_name | replace(' ','_') }}"
  set_fact:
    chart_path: "{{ work_dir }}/charts/charts/{{ chart.classification }}/{{ partner }}/{{ chart_name }}/{{ chart_version }}/"

- name: "Create target directory on the repository"
  file:
    state: directory
    force: true
    path: "{{ chart_path }}"

- name: "Copy the report to the target directory"
  copy:
    src: "{{ work_dir }}/report.yaml"
    dest: "{{ chart_path }}"
    remote_src: yes
  delegate_to: localhost 

- name: "Copy the chart tarball to the target directory"
  get_url:
    url: "{{ chart.chart_file }}"
    dest: "{{ chart_path }}"
    mode: u=rwx,g=rx,o=rx

- name: "Get GitHub status details"
  shell:
    "{{ work_dir }}/gh auth status 2>&1 | grep Logged | awk -F'as ' '{print $2}' | cut -d' ' -f1"
  register: github_status
  args:
    chdir: "{{ work_dir }}/charts/charts"

- name: "Get the GitHub username"
  set_fact:
    github_username: "{{ github_status.stdout }}"

- name: "Add the OWNERS file"
  vars:
    partner: "{{  partner_name | replace(' ','_') }}"
  template:
    src: OWNERS.j2
    dest: "{{ work_dir }}/charts/charts/{{ chart.classification }}/{{ partner }}/OWNERS"

- name: "Git add chart_file and report.yaml to the repository"
  shell: |
    git add .
    git commit -m 'Added {{ chart_name }}_{{ chart_version }}'
  args:
    chdir: "{{ work_dir }}/charts/charts"

- name: "Push branch to the forked repository"
  shell: |
    eval "$(ssh-agent)"
    ssh-add {{ work_dir }}/ssh_key
    git config user.email "telcoci@redhat.com"
    git config user.name "dcicertbot"
    git push -u origin HEAD
    {{ work_dir }}/gh pr create \
    --title "Adding chart {{ chart_name }}" \
    --body "Adding chart {{ chart_name }} for {{ partner_name }}" \
    --repo {{ target_repository }} \
  args:
    chdir: "{{ work_dir }}/charts/charts"  

- name: "Delete one time use key from Github"
  shell: "./gh api -X DELETE user/keys/{{ key_id }}"
  register: gh_add_response
  ignore_errors: true
  args:
    chdir: "{{ work_dir }}"

# - name: "GH logout"
#   shell: "./gh auth logout --hostname github.com"
#   args:
#     chdir: "{{ work_dir }}"

# - name: "Remove charts directory for {{ chart.name }}"
#   file:
#     state: absent
#     path: "{{ work_dir }}/charts"
...