---

- name: "Set target repository"
  set_fact:
    target_repository: "{{ ( enable_sandbox | bool ) | ternary(sandbox_repository, 'openshift-helm-charts/charts') }}"

- name: "Get chart name"
  shell: "{{ helm_tool_path }} show chart {{ chart.chart_file }} | grep ^name | awk '{print $2}' | tr -d '\n'"
  register: chart_name
  args:
    chdir: "{{ work_dir }}"

- name: "Set chart name"
  set_fact:
    chart_name: "{{ chart_name.stdout }}"

- name: "Get chart version"
  shell: "{{ helm_tool_path }} show chart {{ chart.chart_file }} | grep ^version | awk '{print $2}' | tr -d '\n'"
  register: chart_version
  args:
    chdir: "{{ work_dir }}"

- name: "Set chart name"
  set_fact:
    chart_version: "{{ chart_version.stdout }}"

- name: "Get chart description"
  shell: "{{ helm_tool_path }} show chart {{ chart.chart_file }} | grep ^description | cut -d' ' -f2- | tr -d '\n'"
  register: chart_description
  args:
    chdir: "{{ work_dir }}"

- name: "Set chart description"
  set_fact:
    chart_description: "{{ chart_description.stdout }}"

- name: "Running Chart Verifier"
  shell:
    cmd: >
      podman run --rm
      -e KUBECONFIG=/kubeconfig
      -v {{ kubeconfig_path }}:/kubeconfig:Z
      -v {{ work_dir }}:/app/chartverifier:Z
      {{ chart_verifier_image }}
      verify {% if chart.values_file is defined %} -F {{ chart.values_file }} {% endif %}
      {% if chart.install is defined and chart.install is sameas false %}
      --disable chart-testing
      {% endif %}
      {% if chart.flags is defined %}{{ chart.flags }}{% endif %}
      --openshift-version {{ ocp_version_full }}
      {{ chart.chart_file }}
      --write-to-file
  args:
    chdir: "{{ work_dir }}"
  ignore_errors: true

- name: "Copy the report to the Job's log_dir"
  copy:
    src: "{{ work_dir }}/report.yaml"
    dest: "{{ logs_dir }}/{{ chart_name }}_report.yaml"
    remote_src: yes
  delegate_to: localhost 

- name: "Validate all tests have passed"
  shell: "cat report.yaml | grep 'outcome:' |grep FAIL | wc -l"
  register: cv_fail_count
  args:
    chdir: "{{ work_dir }}"

- name: "Submit CV and create pull request"
  include_tasks: submit_results.yml
  when:
    - github_token_path is defined
    - chart.submit_results | default(false) | bool
    - cv_fail_count.stdout | int == 1
...
