---

- name: "Create working directory"
  tempfile:
    state: directory
  register: work_dir

- name: "Set working directory path"
  set_fact:
    work_dir: "{{ work_dir.path }}"

- name: "Set target repository"
  set_fact:
    target_repository: "{{ sandbox_repository | default('openshift-helm-charts/charts') }}"

- name: "Run chart show to get chart details"
  shell:
    cmd: >
      {{ helm_tool_path }} show chart {{ chart.chart_file }} |
      {{ yq_tool_path }} e -o json -
  register: chart_show

- name: "Set charts details"
  vars:
    chart_info: "{{ chart_show.stdout | from_json }}"
  set_fact:
    chart_name: "{{ chart_info.name }}"
    chart_version: "{{ chart_info.version }}"
    chart_description: "{{ chart_info.description }}"

- name: "Running Chart Verifier"
  shell:
    cmd: >
      podman run --rm
      -e KUBECONFIG=/kubeconfig
      -v {{ kubeconfig_path }}:/kubeconfig:Z
      -v {{ work_dir }}:/app/chartverifier:Z
      {{ chart_verifier_image }}
      verify --set profile.vendorType=partner
      {% if chart.values_file is defined %} -F {{ chart.values_file }} {% endif %}
      {% if chart.deploy_chart is defined and chart.deploy_chart is sameas false %}
      --disable chart-testing
      {% endif %}
      {% if chart.flags is defined %}{{ chart.flags }}{% endif %}
      --openshift-version {{ ocp_version_full }}
      {{ chart.chart_file }}
      --write-to-file
  args:
    chdir: "{{ work_dir }}"
  ignore_errors: true

- name: "Copy the report to the Job's log_dir"
  copy:
    src: "{{ work_dir }}/report.yaml"
    dest: "{{ logs_dir }}/{{ chart_name }}_report.yaml"
    remote_src: yes
  delegate_to: localhost

- name: "Validate all tests have passed"
  shell:
    cmd: >
      grep -c FAIL <({{ yq_tool_path }} e "..|.outcome? | select(.)" report.yaml)
  register: cv_fail_count
  args:
    chdir: "{{ work_dir }}"
  failed_when: "cv_fail_count.rc not in [ 0, 1 ]"

- name: "Submit CV and create pull request"
  include_tasks: submit_results.yml
  when:
    - chart.submit_results | default(false) | bool
    - cv_fail_count.stdout | int == 0
...
