---
    - name: Get all pods from namespace
      community.kubernetes.k8s_info:
        namespace: "{{ resources.namespace }}"
        kind: "{{ resources.resource }}"
      register: pods_in_ns

    - name: Extract container images from pod names
      set_fact:
        container_images_in_ns: >-
          {{ pods_in_ns | json_query('resources[*].spec.containers[*].image') | flatten }}

    - name: Create a component based on pod information
      vars:
        container_image_without_version: "\
          {% if container_image.split('@')|length == 1 %}\
            {% for image_chunk in container_image.split(':') %}\
              {% if not loop.last %}\
                {{ image_chunk }}{% if loop.index < loop.length-1 %}:{% endif %}\
              {% endif %}\
            {% endfor %}\
          {% else %}\
            {% for image_chunk in container_image.split('@') %}\
              {% if not loop.last %}\
                {{ image_chunk }}{% if loop.index < loop.length-1 %}@{% endif %}\
              {% endif %}\
            {% endfor %}\
          {% endif %}"
        container_image_name: "\
          {% for image_chunk in container_image_without_version.split('/') %}\
            {% if loop.index > 1 %}{{ image_chunk }}{% if not loop.last %}/{% endif %}{% endif %}\
          {% endfor %}"
        container_image_version: "\
          {% if container_image.split('@')|length == 1 %}\
            {{ container_image.split(':')[-1] }}\
          {% else %}\
            {{ container_image.split('@')[-1] }}\
          {% endif %}"
        comp_name: "{{ container_image_version }}"
        comp_canonical_project_name: "POD_IMG {{ container_image_name }} {{ container_image_version }}"
        comp_type: "{{ container_image_name }}"
      include_tasks: create-component.yml
      loop: "{{ container_images_in_ns }}"
      loop_control:
        loop_var: container_image

...
