---
- name: Get node information
  k8s_info:
    kind: Node
  register: nodes_info

- name: Retrieve all nodes
  set_fact:
    all_nodes: "{{ nodes_info.resources | map(attribute='metadata.name') | list }}"

- name: Display dumpxml for all nodes
  shell: |
    virsh dumpxml {{ item }}
  register: nodes_dumpxml
  become: true
  loop: "{{ all_nodes }}"
  failed_when: false

- name: Save dumpxml results to files
  copy:
    content: "{{ item.stdout }}"
    dest: "{{ job_logs.path }}/dumpxml_{{ item.item }}.xml"
  loop: "{{ nodes_dumpxml.results }}"
...
