---
- name: Run Operator-SDK Scorecard certification suite
  block:
    - name: Create temporary directory for config and scorecard binary
      tempfile:
        state: directory
        prefix: scorecard_tmp_dir.
      register: scorecard_tmp_dir

    - name: Copy kubeconfig file into tmp config directory
      copy:
        src: "{{ kubeconfig_path }}"
        dest: "{{ scorecard_tmp_dir.path }}"
        mode: "0644"

    - name: Copy registry authentication into config folder
      copy:
        src: "{{ partner_creds }}"
        dest: "{{ scorecard_tmp_dir.path }}/config.json"
      when: partner_creds | length

    - name: Retrieve operator-sdk binary from provided image
      shell:
        cmd: >
          podman cp
          $(podman create --rm {{ operator_sdk_img }}):/usr/local/bin/operator-sdk
          operator-sdk
        chdir: "{{ scorecard_tmp_dir.path }}"

    # TODO
    # - name: Build scorecard_image
    #   include_tasks: prepare_scorecard_image.yml
    #   # this variable is set in test-runner
    #   when: scorecard_source_dir is defined

    - name: Manage images mirroring for Operator-sdk scorecard test suite
      include_tasks: mirroring.yml
      when: dci_disconnected | default(false) | bool

    # Main tests
    - name: Scorecard tests
      include_tasks: tests_scorecard_check_operator.yml
      loop: "{{ scorecard_operators_to_certify }}"
      loop_control:
        loop_var: operator
  always:
    - name: Teardown
      include_tasks: teardown.yml
...
