---
- name: Retrieve all images to mirror
  vars:
    scorecard_basic_images: "{{ [ scorecard_test_img, scorecard_storage_img, scorecard_untar_img ] }}"
    bundle_images: "{{ scorecard_operators | map(attribute='bundle_image') | list }}"
  set_fact:
    scorecard_images: "{{ scorecard_basic_images + bundle_images }}"

- name: Mirror Operator-SDK images
  include_role:
    name: mirror_images
  vars:
    images: "{{ scorecard_images }}"
    authfile: "{{ scorecard_partner_creds }}"
    mi_options: "--preserve-digests"

- name: Generate catalog path
  vars:
    index_tag: "{{ ansible_date_time.iso8601_basic }}"
  set_fact:
    OO_INDEX: "{{ '/'.join([ scorecard_dci_local_registry ] + [ 'telcoci','scorecard','disconnected-catalog']) }}:{{ index_tag }}"

- name: Create FBC catalog
  include_role:
    name: fbc-catalog
    apply:
      environment:
        - DOCKER_CONFIG: "{{ scorecard_tmp_dir.path }}"
  vars:
    fbc_index_image:  "{{ OO_INDEX }}"
    fbc_bundles: "{{ scorecard_operators | map(attribute='bundle_image') | list }}"
    fbc_opm_args: "--skip-tls-verify=false"

- name: Push catalog image to local registry and delete local image
  shell: >
    set -ex;
    podman push
    --authfile {{ scorecard_partner_creds }}
    {{ OO_INDEX }};
    podman rmi {{ OO_INDEX }}

- name: "Get catalog Digest"
  shell:
    cmd: >
      skopeo inspect
      --authfile {{ scorecard_pullsecret_tmp_file }}
      docker://{{ OO_INDEX }} |
      jq -r '.Digest'
  register: catalog_sha
  retries: 2
  delay: 10
  until: not catalog_sha.failed

- name: Redefine catalog path + SHA
  set_fact:
    OO_INDEX: "{{ scorecard_dci_local_registry }}/telcoci/scorecard/disconnected-catalog@{{ catalog_sha.stdout }}"

- name: Mirror generated catalog
  include_role:
    name: mirror-catalog
  vars:
    mc_oc_tool_path: "{{ scorecard_oc_tool_path }}"
    mc_catalog: "{{ OO_INDEX }}"
    mc_registry: "{{ scorecard_dci_local_registry }}"
    mc_pullsecret: "{{ scorecard_partner_creds }}"

- name: Set scorecard Image Source file
  set_fact:
    scorecard_is_file: "{{ mc_is_file.path }}"

# TODO: Double-check this role during migration to ITMS to prevent
# duplication of bundle images within the mirroring object.
- name: Append operator-sdk images to imageContentSourcePolicy
  blockinfile:
    block: |
      # Scorecard container
        - mirrors:
          - {{ scorecard_dci_local_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
          source: {{ item.split('@')[0] }}
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.split('@')[0] }}"
    path: "{{ scorecard_is_file }}"
  loop: "{{ scorecard_basic_images }}"

- name: Display new Image Source file to be applied
  debug:
    msg: "{{ lookup('file', scorecard_is_file) }}"

- name: Apply Image Source File
  community.kubernetes.k8s:
    definition: "{{ lookup('file', scorecard_is_file) }}"

- name: Wait for MCP status
  include_role:
    name: check-resource
  vars:
    resource_to_check: "MachineConfigPool"
    check_wait_retries: 30
    check_wait_delay: 10
    check_reason: "Image Source update in operator-sdk role"
...
