---
- name: Retrieve all images to mirror
  vars:
    scorecard_basic_images: "{{ [ scorecard_test_img, scorecard_storage_img, scorecard_untar_img ] }}"
    bundle_images: "{{ scorecard_operators | map(attribute='bundle_image') | list }}"
  set_fact:
    scorecard_images: "{{ scorecard_basic_images + bundle_images }}"

- name: Mirror Operator-SDK images
  include_role:
    name: mirror_images
  vars:
    images: "{{ scorecard_images }}"
    authfile: "{{ scorecard_partner_creds }}"
    mi_options: "--preserve-digests"

- name: Generate catalog path
  vars:
    index_tag: "{{ ansible_date_time.iso8601_basic }}"
  set_fact:
    OO_INDEX: "{{ '/'.join([ scorecard_dci_local_registry ] + [ 'telcoci','scorecard','disconnected-catalog']) }}:{{ index_tag }}"

- name: Create FBC catalog
  include_role:
    name: fbc-catalog
    apply:
      environment:
        - DOCKER_CONFIG: "{{ scorecard_tmp_dir.path }}"
  vars:
    fbc_index_image:  "{{ OO_INDEX }}"
    fbc_bundles: "{{ scorecard_operators | map(attribute='bundle_image') | list }}"
    fbc_opm_args: "--skip-tls-verify=false"

- name: Push index image into local registry
  shell: >
    podman push
    --authfile {{ scorecard_partner_creds }}
    {{ OO_INDEX }}

- name: Create temporary directory
  tempfile:
    state: directory
    prefix: scorecard_prerun_tmp_dir.
  register: scorecard_prerun_tmp_dir

- name: "Get catalog Digest"
  shell:
    cmd: >
      skopeo inspect
      --authfile {{ scorecard_pullsecret_tmp_file }}
      docker://{{ OO_INDEX }} |
      jq -r '.Digest'
  register: catalog_sha
  retries: 2
  delay: 10
  until: not catalog_sha.failed

- name: "Remove local catalog image"
  shell: |
    podman rmi "{{ OO_INDEX }}"

- name: Redefine catalog path + SHA
  set_fact:
    OO_INDEX: "{{ scorecard_dci_local_registry }}/telcoci/scorecard/disconnected-catalog@{{ catalog_sha.stdout }}"

- name: Mirror the disconnected-catalog
  shell: >
    {{ scorecard_oc_tool_path }} adm catalog mirror
    --registry-config {{ scorecard_partner_creds }}
    --max-components=3
    {{ OO_INDEX }}
    {{ scorecard_dci_local_registry }}
    --to-manifests={{ scorecard_prerun_tmp_dir.path }}/tmp_oc
  register: catalog_mirror
  retries: 2
  delay: 10
  until: catalog_mirror.stderr.find('error:') == -1

- name: Set image source file fact
  vars:
    is_manifest_files:
      - "{{ scorecard_prerun_tmp_dir.path }}/tmp_oc/imageDigestMirrorSet.yaml"
      - "{{ scorecard_prerun_tmp_dir.path }}/tmp_oc/imageContentSourcePolicy.yaml"
  set_fact:
    scorecard_is_file: "{{ lookup('first_found', is_manifest_files) }}"

# TODO: Double-check this role during migration to ITMS to prevent
# duplication of bundle images within the mirroring object.
- name: Append operator-sdk images to imageContentSourcePolicy
  blockinfile:
    block: |
      # Scorecard container
        - mirrors:
          - {{ scorecard_dci_local_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
          source: {{ item.split('@')[0] }}
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.split('@')[0] }}"
    path: "{{ scorecard_is_file }}"
  loop: "{{ scorecard_basic_images }}"

- name: Migrate ICSP to IDMS
  when:
    - image_source_kind == 'ImageDigestMirrorSet'
    - "'imageContentSourcePolicy.yaml' in scorecard_is_file"
  block:
    - name: Transform ICSP to IDMS
      shell:
        cmd: >
          {{ oc_tool_path }} adm migrate icsp
          {{ scorecard_is_file }}
          --dest-dir {{ scorecard_prerun_tmp_dir.path }}
      register: migrate_result

    - name: Set new image source file
      set_fact:
        scorecard_is_file: "{{ migrate_result.stdout_lines[0].split(' ')[-1] }}"

- name: Display new Image Source file to be applied
  debug:
    msg: "{{ lookup('file', scorecard_is_file) }}"

- name: Apply Image Content Source Policy
  community.kubernetes.k8s:
    definition: "{{ lookup('file', scorecard_is_file) }}"

- name: Wait for MCP status
  include_role:
    name: check-resource
  vars:
    resource_to_check: "MachineConfigPool"
    check_wait_retries: 30
    check_wait_delay: 10
    check_reason: "Image Source update in operator-sdk role"
...
