---
- name: Remove tmp directory
  file:
    path: "{{ scorecard_tmp_dir.path }}"
    state: absent
  when: scorecard_tmp_dir is defined

- name: Remove tmp directory
  file:
    path: "{{ scorecard_prerun_tmp_dir.path }}"
    state: absent
  when: scorecard_prerun_tmp_dir is defined
...
