---
- name: Delete Image Content Source Policy
  community.kubernetes.k8s:
    state: absent
    definition: "{{ lookup('file', scorecard_prerun_tmp_dir.path + '/tmp_oc/imageContentSourcePolicy.yaml') }}"

- name: "Delete {{ scorecard_namespace }}"
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ scorecard_namespace }}"
    state: absent

- name: Wait for MCP status
  include_role:
    name: check-resource
  vars:
    resource_to_check: "MachineConfigPool"
    check_wait_retries: 30
    check_wait_delay: 10
    check_reason: "Delete ICSP in operator-sdk role"

- name: Remove tmp directory
  file:
    path: "{{ scorecard_tmp_dir.path }}"
    state: absent
  when: scorecard_tmp_dir is defined

- name: Remove pre-run tmp directory
  file:
    path: "{{ scorecard_prerun_tmp_dir.path }}"
    state: absent
  when: scorecard_prerun_tmp_dir is defined

- name: "Check if the namespace {{ scorecard_namespace }} is stuck"
  community.kubernetes.k8s_info:
    api_version: v1
    kind: Namespace
    name: "{{ scorecard_namespace }}"
  register: stuck_namespace

- block:
    - name: Get scorecard-related events
      community.kubernetes.k8s_info:
        kind: Event
        namespace: "{{ scorecard_namespace }}"
      register: scorecard_events

    - name: Get pods from the scorecard namespace
      community.kubernetes.k8s_info:
        kind: Pod
        namespace: "{{ scorecard_namespace }}"
      register: scorecard_pods

    - name: Upload the logs for stuck pod into DCI
      template:
        src: "templates/scorecard-debug-pod-logs.j2"
        dest: "{{ scorecard_job_logs.path }}/{{ scorecard_prefix }}_logs_for_stuck_pod.log"
  when: stuck_namespace.resources | length

- name: Remove operator_sdk_img built from the source
  containers.podman.podman_image:
    name: "{{ operator_sdk_img }}"
    state: absent
...
