---
- name: Create ServiceAccount for test pods
  community.kubernetes.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: test
        namespace: "{{ app_ns }}"

- name: Create NetworkAttachmentDefinition
  community.kubernetes.k8s:
    state: present
    definition:
      apiVersion: "k8s.cni.cncf.io/v1"
      kind: NetworkAttachmentDefinition
      metadata:
        name: istio-cni
        namespace: "{{ app_ns }}"

- name: Label namespace for istio-injection
  community.kubernetes.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ app_ns }}"
        labels:
          istio-injection: enabled
