chart:
  name: {{ chart_name }}
  shortDescription: {{ chart_description }}
publicPgpKey: null
users:
  - githubUsername: {{ github_username }}
vendor:
  label: {{ chart.labels }}
  name: {{ partner_name }}
