---
- name: Dump all available API
  community.kubernetes.k8s_info:
    kind: APIRequestCount
  register: postrun_api

- name: Extract deprecated and to-be-deprecated API
  vars:
    query: "[*].{name: metadata.name, removedInRelease: status.removedInRelease}[?removedInRelease != null]"
  set_fact:
    removed_in_release_api: "{{ postrun_api.resources | json_query(query) }}"
  when: postrun_api.resources | length > 0

- name: Compute OCP compatibility of the workload API
  vars:
    ocp_filename: "{{ job_logs.path }}/apirequestcounts_ocp_compatibility.xml"
  set_fact:
    ocp_compatibility: "{{ removed_in_release_api | ocp_compatibility(ocp_version, ocp_filename) }}"
  # when: removed_in_release_api | length > 0
...
