---
- name: Discover all namespaces
  set_fact:
    all_namespaces: "{{ namespace_info.resources | map(attribute='metadata.name') | list }}"

- name: Get API request counts for all namespaces
  k8s_info:
    kind: APIService
    namespace: "{{ item }}"
  # Check all namespaces by default unless otherwise requested
  with_items: "{{ deprecated_namespaces | default(all_namespaces) }}"
  register: api_request_counts

- name: Dump removedInRelease API
  copy:
    content: "{{ api_request_counts }}"
    dest: "{{ job_logs.path }}/apirequestcounts.dump.json"

- name: Dump all available API
  community.kubernetes.k8s_info:
    kind: APIRequestCount
  register: postrun_api

- name: Extract deprecated and to-be-deprecated API
  vars:
    query: "[*].{name: metadata.name, removedInRelease: status.removedInRelease}[?removedInRelease != null]"
  set_fact:
    removed_in_release_api: "{{ postrun_api.resources | json_query(query) }}"

- name: Compute OCP compatibility of the workload API
  vars:
    ocp_filename: "{{ job_logs.path }}/apirequestcounts_ocp_compatibility.xml"
  set_fact:
    ocp_compatibility: "{{ removed_in_release_api | ocp_compatibility(ocp_version, ocp_filename) }}"
...
