---
- name: "Validate parameters"
  assert:
    that: "{{ item }} is defined"
    fail_msg: "The parameter {{ item }} is required"
  with_items:
      - opcap_target_catalog_source
      - opcap_catalog_source_namespace
      - opcap_output_dir

- name: create tmp dir for Opcap tool
  tempfile:
    state: directory
    prefix: opcap_tool.
  register: opcap_dir
  when: opcap_dir is not defined

- name: "Check if opcap is installed"
  stat:
    path: "{{ opcap_dir.path }}/opcap/bin/opcap"
  register: opcap_bin

- name: "Build opcap if not present"
  include_tasks: build.yml
  when: not opcap_bin.stat.exists

- name: "Display Available package in the catalog"
  shell:
    cmd: >
      ./opcap list packages --catalogsource={{ opcap_target_catalog_source }}
    chdir: "{{ opcap_dir.path }}/opcap/bin"

- name: "Run opcap check"
  shell:
    cmd: >
      ./opcap check --audit-plan={{ opcap_audit_plan }}
      --catalogsource={{ opcap_target_catalog_source }}
      --catalogsourcenamespace={{ opcap_catalog_source_namespace }}
    chdir: "{{ opcap_dir.path }}/opcap/bin"
  register: opcap_check

- name: "Copy Results in {{ opcap_output_dir }}"
  copy:
    src: "{{ opcap_dir.path }}/opcap/bin/operator_install_report.json"
    dest: "{{ opcap_output_dir.path }}/{{ opcap_target_catalog_source }}_install_report.json"
  when: opcap_check.stdout != ""

- name: "Copy opcap tool in {{ opcap_output_dir }}"
  copy:
    src: "{{ opcap_dir.path }}/opcap/bin/opcap"
    dest: "{{ opcap_output_dir.path }}/opcap"
    mode: "755"
  when: not opcap_cleanup

- name: "Remove opcap install directory"
  file:
    path: "{{ opcap_dir.path }}"
    state: absent
  when: opcap_cleanup