---
- name: "Validate parameters"
  assert:
    that: "{{ item }} is defined"
    fail_msg: "The parameter {{ item }} is required"
  with_items:
      - target_catalog_source
      - catalog_source_namespace

- name: create tmp dir for Opcap tool
  tempfile:
    state: directory
    prefix: opcap_tool.
  register: opcap_dir
  when: opcap_dir is not defined

- name: "Check if opcap is installed"
  shell:
    cmd: >
      {{ opcap_dir.path }}/opcap/bin/opcap version
  ignore_errors: true
  register: opcap_bin

- name: "Build opcap if not present"
  include_tasks: build.yml
  when: opcap_bin.rc != 0

- name: "Display Available package in the catalog"
  shell:
    cmd: >
      ./opcap list packages --catalogsource={{ target_catalog_source }}
    chdir: "{{ opcap_dir.path }}/opcap/bin"

- name: "Run opcap check"
  shell:
    cmd: >
      ./opcap check --audit-plan={{ audit_plan }}
      --catalogsource={{ target_catalog_source }}
      --catalogsourcenamespace={{ catalog_source_namespace }}
    chdir: "{{ opcap_dir.path }}/opcap/bin"
  register: opcap_check

- name: "Copy Results in {{ job_logs.path }}"
  copy:
    src: "{{ opcap_dir.path }}/opcap/bin/operator_install_report.json"
    dest: "{{ job_logs.path }}/{{ target_catalog_source }}_install_report.json"
  when: opcap_check.stdout != []