---
- name: "Initialize operators index {{ operator.name }}"
  environment:
    - REGISTRY_AUTH_FILE: "{{ partner_creds }}"
  shell: |
    {{ opm_tool_path }} init {{ operator.name }} \
    --default-channel=stable \
    --output=yaml >> disconnected-catalog/index.yml
  args:
    chdir: "{{ preflight_prerun_tmp_dir.path }}"

- name: "Render bundle for {{ operator.name }}"
  environment:
    - REGISTRY_AUTH_FILE: "{{ partner_creds }}"
  shell: |
    {{ opm_tool_path }} render {{ operator.bundle_image }} \
    --output=yaml >> {{ preflight_prerun_tmp_dir.path }}/disconnected-catalog/index.yml

- name: "Add {{ operator.name }} channel"
  blockinfile:
    dest: "{{ preflight_prerun_tmp_dir.path }}/disconnected-catalog/index.yml"
    content: |
        ---
        schema: olm.channel
        package: {{ operator.name }}
        name: stable
        entries:
          - name: {{ operator.name }}.{{ operator.version }}
    marker: "# {{ operator.name }}-channel"
...