---
- name: Create directories to mount artifacts volume and kubeconfig volume
  file:
    path: "{{ preflight_dir_to_create }}"
    state: directory
  loop:
    - "{{ preflight_artifacts }}"
    - "{{ preflight_kubeconfig }}"
  loop_control:
    loop_var: preflight_dir_to_create

- name: Copy kubeconfig file into kubeconfig folder
  copy:
    src: "{{ kubeconfig_path }}"
    dest: "{{ preflight_kubeconfig }}"

- name: Create namespace for operator-sdk scorecard
  k8s:
    name: "{{ preflight_namespace }}"
    api_version: v1
    kind: Namespace
    state: present

- name: Set tag for the index image
  set_fact:
    preflight_index_tag: "{{ provisionhost_registry }}/preflight/index-{{ operator.split('/')[-1] }}"

# - name: Build catalog index
#   shell: |
#     opm index add --pull-tool podman \
#     --bundles {{ operator }} \
#     --tag {{ preflight_index_tag }}

# - name: Push catalog index into local registry
#   shell: |
#     podman push \
#     --authfile {{ provisionhost_registry_creds }} \
#     {{ preflight_index_tag }}

- name: Run preflight check operator tests
  shell: |
    podman run \
    -it \
    --rm \
    --pull=always \
    --name preflight \
    --privileged \
    -e PFLT_JUNIT=true \
    -e PFLT_ARTIFACTS=/artifacts \
    -e PFLT_LOGFILE=/artifacts/preflight.log \
    -e PFLT_LOGLEVEL=trace \
    -e KUBECONFIG=/kubeconfig \
    -e PFLT_INDEXIMAGE={{ preflight_index_tag }} \
    -e PFLT_NAMESPACE={{ preflight_namespace }} \
    -e PFLT_SERVICEACCOUNT=dci-openshift-app-agent \
    -v {{ preflight_kubeconfig }}/kubeconfig:/kubeconfig \
    -v {{ preflight_artifacts }}:/artifacts \
    quay.io/opdev/preflight:{{ preflight_version }} \
    check operator \
    {{ operator }}

- name: Load preflight check operator test results
  shell: |
    cat {{ preflight_artifacts }}/results.json
  register: preflight_results

- name: Load preflight errors
  shell: |
    cat {{ preflight_artifacts }}/preflight.log
  register: preflight_errors

- name: Upload logs for preflight check operator into DCI
  copy:
    src: "{{ preflight_artifacts }}/{{ file_to_copy }}"
    dest: "{{ job_logs.path }}/preflight_operator_{{ operator.split('/')[-1] | replace(':', '_') }}_{{ file_to_copy }}"
  loop: "{{ preflight_operator_output }}"
  loop_control:
    loop_var: file_to_copy

- name: Delete directories with preflight output and kubeconfig volume
  file:
    path: "{{ preflight_dir_to_delete }}"
    state: absent
  loop:
    - "{{ preflight_artifacts }}"
    - "{{ preflight_kubeconfig }}"
  loop_control:
    loop_var: preflight_dir_to_delete

- name: Delete namespace created for operator-sdk scorecard
  k8s:
    name: "{{ preflight_namespace }}"
    api_version: v1
    kind: Namespace
    state: absent

- name: Register preflight check operator failed and passed tests
  set_fact:
    preflight_passed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_passed) }}"
    preflight_failed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_failed) }}"
  vars:
    jmesquery_passed: 'results.passed'
    jmesquery_failed: 'results.failed'

- name: Print preflight check operator passed tests
  debug:
    msg: "Operator: {{ operator }}. The following preflight tests passed ok: {{ preflight_passed_tests }}"
  when:
    - preflight_passed_tests is defined
    - preflight_passed_tests | length > 0

- name: Fail if there are failed preflight check operator tests
  fail:
    msg: "Operator: {{ operator }}. The following preflight tests failed: {{ preflight_failed_tests }}
    cat preflight.log: {{ preflight_errors.stdout }}"
  when:
    - preflight_failed_tests is defined
    - preflight_failed_tests | length > 0
  ignore_errors: yes

...
