---
- name: Create directory to mount artifacts volume
  file:
    path: "{{ preflight_artifacts }}"
    state: directory

- name: Copy kubeconfig into artifacts folder
  copy:
    src: "{{ kubeconfig_path }}"
    dest: "{{ preflight_artifacts }}"

- name: Set tag for the index image
  set_fact:
    preflight_index_tag: "{{ provisionhost_registry }}/preflight/index-{{ operator.split('/')[-1] }}"

# - name: Print catalog index name
#   debug:
#     var: preflight_index_tag

# - name: List old podman images
#   shell: |
#     podman images | grep preflight
#   register: preflight_image_list

# - name: Build catalog index
#   shell: |
#     opm index add --pull-tool podman \
#     --bundles {{ operator }} \
#     --tag {{ preflight_index_tag }}

# - name: Push catalog index into local registry
#   shell: |
#     podman push \
#     --authfile {{ provisionhost_registry_creds }} \
#     {{ preflight_index_tag }}

# - name: List podman images-2
#   shell: |
#     podman images | grep preflight
#   register: preflight_image_list

- name: Run preflight tests
  shell: |
    podman run \
    -it \
    --rm \
    --pull=always \
    --name preflight \
    --privileged \
    -v {{ preflight_artifacts }}:/artifacts \
    -e PFLT_LOGFILE=/artifacts/preflight.log \
    -v {{ preflight_artifacts }}/kubeconfig:/kubeconfig \
    -e KUBECONFIG=/kubeconfig \
    -e PFLT_INDEXIMAGE={{ preflight_index_tag }} \
    quay.io/opdev/preflight:{{ preflight_version }} \
    check operator \
    {{ operator }}

- name: Load preflight test results
  shell: |
    cat {{ preflight_artifacts }}/results.json
  register: preflight_results

- name: Load preflight errors
  shell: |
    cat {{ preflight_artifacts }}/preflight.log
  register: preflight_errors

- name: Upload logs into DCI
  copy:
    src: "{{ preflight_artifacts }}/{{ file_to_copy }}"
    dest: "{{ job_logs.path }}/preflight_operator_{{ operator.split('/')[-1] | replace(':', '_') }}_{{ file_to_copy }}"
  loop: "{{ preflight_operator_output }}"
  loop_control:
    loop_var: file_to_copy

- name: Delete directory with preflight output
  file:
    path: "{{ preflight_artifacts }}"
    state: absent

- name: Register preflight failed and passed tests
  set_fact:
    preflight_passed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_passed) }}"
    preflight_failed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_failed) }}"
  vars:
    jmesquery_passed: 'results.passed'
    jmesquery_failed: 'results.failed'

- name: Print passed preflight tests
  debug:
    msg: "Operator: {{ operator }}. The following preflight tests passed ok: {{ preflight_passed_tests }}"
  when:
    - preflight_passed_tests is defined
    - preflight_passed_tests | length > 0

- name: Fail if there are failed preflight tests
  fail:
    msg: "Operator: {{ operator }}. The following preflight tests failed: {{ preflight_failed_tests }}
    cat preflight.log: {{ preflight_errors.stdout }}"
  when:
    - preflight_failed_tests is defined
    - preflight_failed_tests | length > 0
  ignore_errors: yes
...
