---
- name: Create directory to mount artifacts volume
  file:
    path: "{{ preflight_artifacts }}"
    state: directory

- name: Run preflight tests
  shell: |
    podman run \
    -it \
    --rm \
    --pull=always \
    --name preflight \
    --privileged \
    -v {{ preflight_artifacts }}:/artifacts \
    -e PFLT_LOGFILE=/artifacts/preflight.log \
    quay.io/opdev/preflight:{{ preflight_version }} \
    check container \
    {{ container }}

- name: Load preflight output
  shell: |
    cat {{ preflight_artifacts }}/{{ file_to_load }}
  register: "preflight_{{ file_to_load.split(".")[0] }}"
  loop: "{{ preflight_container_output }}"
  loop_control:
    loop_var: file_to_load

- name: Upload logs into DCI
  copy:
    src: "{{ preflight_artifacts }}/{{ file_to_copy }}"
    dest: "{{ job_logs.path }}/preflight_container_{{ container.split("/")[-1] | replace(':', '_') }}_{{ file_to_copy }}"
  loop: "{{ preflight_container_output }}"
  loop_control:
    loop_var: file_to_copy

- name: Delete directory with preflight output
  file:
    path: "{{ preflight_artifacts }}"
    state: absent

- name: Register preflight failed and passed tests
  set_fact:
    preflight_passed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_passed) }}"
    preflight_failed_tests: "{{ preflight_results.stdout | from_json | json_query(jmesquery_failed) }}"
  vars:
    jmesquery_passed: 'results.passed'
    jmesquery_failed: 'results.failed'

- name: Print passed preflight tests
  debug:
    msg: "Container: {{ container }}. The following preflight tests passed ok: {{ preflight_passed_tests }}"
  when:
    - preflight_passed_tests is defined
    - preflight_passed_tests | length > 0

- name: Fail if there are failed preflight tests
  fail:
    msg: "Container: {{ container }}. The following preflight tests failed: {{ preflight_failed_tests }}
    cat preflight.log: {{ preflight_preflight.stdout }}"
  when:
    - preflight_failed_tests is defined
    - preflight_failed_tests | length > 0
  ignore_errors: yes
...
