---
- name: Standalone containers tests
  block:
    - name: Create tmp directory for custom configurations and preflight binary
      tempfile:
        state: directory
        prefix: preflight_tmp_dir.
      register: preflight_tmp_dir

    - name: Copy registry authentication into config folder
      copy:
        src: "{{ partner_creds }}"
        dest: "{{ preflight_tmp_dir.path }}/config.json"
      when: partner_creds | length

    - name: "Run preflight check container on operator image for {{ operator.name }}"
      # introducing operator variable to reuse the functionality
      # for e2e certification when operator is defined
      vars:
        current_operator_image: "{{ c.container_image }}"
        operator:
          name: "{{ current_operator_image.split('/')[-1].split(':')[0].split('@')[0] }}"
          version: "{{ current_operator_image.split(':')[-1] }}"
          pyxis_container_identifier: "{{ c.pyxis_container_identifier | default('') }}"
          create_container_project: "{{ c.create_container_project | default('') }}"
          short_description: "{{ c.short_description | default('') }}"
          custom_project_name: "{{ c.custom_project_name | default(current_operator_image.split('@')[0].split(':')[0].split('/')[-1]) }}"
      include_tasks: test_preflight_check_container_one_image.yml
      loop: "{{ preflight_containers_to_certify }}"
      loop_control:
        loop_var: c

    - name: Get All container certification projects based on Product Listing ID {{ cert_listings.pyxis_product_list_identifier }}
      include_role:
        name: create-certification-project    
        tasks_from: get_all_container_projects_basedon_product_list_id.yml
      when: cert_listings.attach_product_listing | default(false) | bool

    - name: Attach Product List ID {{ cert_listings.pyxis_product_list_identifier }} to all projects using same Product-Listing ID
      include_role:
        name: create-certification-project
        tasks_from: attach_product_listing
      when:
        - cert_listings.attach_product_listing | default(false) | bool
        - all_container_projects is defined
  always:
    - name: Teardown
      include_tasks: teardown.yml
...