---
- name: Download preflight binary if necessary
  vars:
    preflight_binary_version: "{{ preflight_version.split(':')[-1] }}"
    preflight_binary_dir: "/opt/cache/preflight/{{ preflight_version }}"
  include_tasks: pre-run_get_preflight_binary.yml
  when: preflight_use_binary | bool

# This task is used both in connected and disconnected env
# to retrieve scorecard-test image to run independent scorecard tests later on
- name: Run preflight runtime-assets to get scorecard-test image
  include_tasks: pre-run_runtime_assets.yml

- name: Manage images mirroring for Preflight cert suite
  include_tasks: pre-run_mirroring.yml
  when: dci_disconnected | default(false) | bool

# Use custom certificat for self sign registry
- name: Get custom ca certificate for preflight
  include_tasks: prepare_custom_certificate.yml
  when: preflight_custom_ca | length != 0
...
