---
# This task is used both in connected and disconnected env
# to retrieve scorecard-test image to run independent scorecard tests later on
- name: Run preflight runtime-assets to get scorecard-test image
  include_tasks: pre-run_runtime_assets.yml

...
