---
- name: Delay for policy to apply, there is no nodes to reboot anymore since ocp-4.7
  pause:
    minutes: 1

- name: Wait for updated machine configs to be applied on the nodes
  k8s_info:
    api_version: machineconfiguration.openshift.io/v1
    kind: MachineConfigPool
  register: reg_mcpool_status
  vars:
    status_query: "resources[*].status.conditions[?type=='Updated'].status"
    update_status: "{{ reg_mcpool_status | json_query(status_query) | flatten | unique }}"
  until:
    - update_status == ['True']
  retries: 60
  delay: 60

- name: Retrieve more logs in the case of failure
  shell: |
    {{ oc_tool_path }} get mcp
    echo "=========="
    {{ oc_tool_path }} get mc
    echo "=========="
    {{ oc_tool_path }} describe mcp worker
    echo "=========="
    for i in {0..3}; do echo "worker-$i" && {{ oc_tool_path }} describe node worker-$i | grep Config; done
  register: mcp_logs
  # when: reg_mcpool_status.failed

- name: Upload logs into DCI
  copy:
    dest: "{{ job_logs.path }}/cnf-example_mcp_failure_logs.log"
    content: "{{ mcp_logs.stdout }}"

- name: Fail when could not apply machine config on the nodes
  fail:
    msg: "Failed to apply machine config on the nodes"
  when: reg_mcpool_status.failed

...
