---
- name: Setup tmp preflight folders
  block:
    - name: Create temporary preflight_tmp_dir directory
      tempfile:
        state: directory
        prefix: preflight_tmp_dir.
      register: preflight_tmp_dir

    - name: Set directories for artifacts and operator bundle extract
      set_fact:
        preflight_artifacts: "{{ preflight_tmp_dir.path }}/artifacts"
        preflight_kubeconfig: "{{ preflight_tmp_dir.path }}/kubeconfig"

    - name: Create directories to mount artifacts volume and kubeconfig volume
      file:
        path: "{{ preflight_dir_to_create }}"
        state: directory
        mode: 0744
      loop:
        - "{{ preflight_artifacts }}"
        - "{{ preflight_kubeconfig }}"
      loop_control:
        loop_var: preflight_dir_to_create

    - name: Copy kubeconfig file into kubeconfig folder
      copy:
        src: "{{ kubeconfig_path }}"
        dest: "{{ preflight_kubeconfig }}"

- name: Set operator index image by default
  set_fact:
    OO_INDEX: "{{ operator.index_image }}"

- name: Manage operator in the disconnected environment
  include_tasks: disconnected_env.yml
  when: dci_disconnected | default(false) | bool

- name: Create preflight namespace
  k8s:
    name: "{{ preflight_namespace }}"
    api_version: v1
    kind: Namespace
    state: present

- name: Run preflight check operator tests
  environment:
    - OPENSHIFT_AUTH: "{{ all_registries_creds }}"
    - OO_BUNDLE: "{{ operator.image }}"
    - OO_INDEX: "{{ OO_INDEX }}"
  shell: >
    podman run
    -it
    --rm
    --pull=always
    --privileged
    -e PFLT_JUNIT=true
    -e PFLT_ARTIFACTS=/artifacts
    -e PFLT_LOGFILE=/artifacts/preflight.log
    -e PFLT_LOGLEVEL=trace
    -e KUBECONFIG=/kubeconfig
    -e PFLT_INDEXIMAGE={{ OO_INDEX }}
    -e PFLT_NAMESPACE={{ preflight_namespace }}
    -e PFLT_SERVICEACCOUNT=default
    -e PFLT_SCORECARD_IMAGE={{ config_images[0] }}
    -v {{ preflight_kubeconfig }}/kubeconfig:/kubeconfig
    -v {{ preflight_artifacts }}:/artifacts
    {{ preflight_version }}
    check operator
    {{ operator.image }}
  async: 600
  poll: 0
  register: preflight_exec

- name: Retrieve simple-demo-operator logs
  block:
    - name: Retrieve detailed logs
      include_tasks: retrieve_detailed_logs.yml

    - name: Wait 10 seconds
      pause:
        seconds: 10

    - name: Retrieve detailed logs
      include_tasks: retrieve_detailed_logs.yml

    - name: Wait 60 seconds
      pause:
        seconds: 60

    - name: Retrieve detailed logs
      include_tasks: retrieve_detailed_logs.yml

    - name: Wait 100 seconds
      pause:
        seconds: 100

    - name: Retrieve detailed logs
      include_tasks: retrieve_detailed_logs.yml

- name: Check on preflight execution
  async_status:
    jid: "{{ preflight_exec.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 20
  delay: 30
  ignore_errors: true

- name: Upload logs for preflight check operator into DCI
  vars:
    preflight_prefix: "preflight_{{ operator.name }}_{{ operator.version }}"
  copy:
    src: "{{ item }}"
    dest: "{{ job_logs.path }}/{{ preflight_prefix }}_{{ item | basename }}"
  with_fileglob:
    - "{{ preflight_artifacts }}/*"

- name: Remove tmp dir
  file:
    path: "{{ preflight_tmp_dir.path }}"
    state: absent

- name: Delete preflight namespace
  k8s:
    name: "{{ preflight_namespace }}"
    api_version: v1
    kind: Namespace
    state: absent
...

