---
- name: Clone Preflight branch to be tested into preflight_source_dir
  git:
    repo: "{{ preflight_repo }}"
    dest: "{{ preflight_source_dir }}"
    version: "{{ preflight_branch }}"

# Build preflight podman image and preflight binary
# to be used later on during the Preflight tests execution
- name: Set preflight_image to be used later for Preflight tests
  set_fact:
    preflight_image: "{{ provisionhost_registry }}/preflight/preflight:{{ preflight_branch }}"
    preflight_builder_image: "{{ provisionhost_registry }}/preflight/builder:builder"
    preflight_binary: "{{ preflight_source_dir }}/preflight"

- name: Build Preflight image
  shell:
    cmd: |
      podman build . -t {{ preflight_image }}
      podman push --authfile {{ partner_creds }} {{ preflight_image }}
    chdir: "{{ preflight_source_dir }}"

- name: Display Preflight version to ensure that the image build went fine
  shell: >
    podman run --rm {{ preflight_image }} --version

- name: Copy builder Dockerfile into preflight folder
  template:
    src: templates/Dockerfile_builder.j2
    dest: "{{ preflight_source_dir }}/Dockerfile_builder"

- name: Build Preflight binary
  shell:
    cmd: |
      podman build . -t {{ preflight_builder_image }} -f Dockerfile_builder
      podman cp $(podman create --rm {{ preflight_builder_image }}):/go/src/preflight/preflight ./preflight
      chmod +x preflight
    chdir: "{{ preflight_source_dir }}"

- name: Display the content of preflight folder
  shell:
    cmd: >
      tree
  chdir: "{{ preflight_source_dir }}"

- name: Ensure the binary to be here
  shell: >
    {{ preflight_binary }} --version

...
