---
- name: Retrieve branch name
  shell:
    cmd: >
      git branch --show-current
    chdir: "{{ preflight_source_dir }}"
  register: preflight_branch_name

- name: Set location of preflight binary preflight_binary_dir and preflight_image
  set_fact:
    preflight_branch: "{{ preflight_branch_name.stdout }}"
    preflight_image: "{{ provisionhost_registry }}/preflight/preflight:{{ preflight_branch }}"
    preflight_builder_image: "{{ provisionhost_registry }}/preflight/builder:builder"
    preflight_binary: "{{ preflight_source_dir }}/preflight"
    preflight_binary_dir: "{{ preflight_source_dir }}"

- name: Build Preflight image
  shell:
    cmd: |
      podman build . -t {{ preflight_image }}
      podman push --authfile {{ partner_creds }} {{ preflight_image }}
    chdir: "{{ preflight_source_dir }}"

- name: Display Preflight version to ensure that the image build went fine
  shell: >
    podman run --rm {{ preflight_image }} --version

- name: Copy builder Dockerfile into preflight folder
  template:
    src: templates/Dockerfile_builder.j2
    dest: "{{ preflight_source_dir }}/Dockerfile_builder"

- name: Build Preflight binary
  shell:
    cmd: |
      podman build . \
      -t {{ preflight_builder_image }} \
      -f Dockerfile_builder \
      --build-arg=release_tag={{ preflight_branch }}
      podman cp \
      $(podman create --rm {{ preflight_builder_image }}):/go/src/preflight/preflight \
      ./preflight
      chmod +x preflight
    chdir: "{{ preflight_source_dir }}"

- name: Display Preflight version to ensure that the binary build went fine
  shell: >
    {{ preflight_binary }} --version

...
