---
- name: Clone Preflight branch to be tested into preflight_source_dir
  git:
    repo: "{{ preflight_repo }}"
    dest: "{{ preflight_source_dir }}"
    version: "{{ preflight_branch }}"

# Build preflight podman image and preflight binary
# to be used later on during the Preflight tests execution
- name: Set preflight_image to be used later for Preflight tests
  set_fact:
    preflight_image: "{{ provisionhost_registry }}/preflight/preflight:{{ preflight_branch }}"

- name: Build Preflight image
  shell:
    cmd: |
      podman build . -t {{ preflight_image }}
      podman push --authfile {{ partner_creds }} {{ preflight_image }}
    chdir: "{{ preflight_source_dir }}"

- name: Display Preflight version to ensure that the image build went fine
  shell: >
    podman run --rm {{ preflight_image }} --version

# TODO: build preflight binary using Go 1.17
...
