---
- name: Get events for operator namespace
  shell: >
    {{ oc_tool_path }} get events --namespace {{ operator.name }}
  ignore_errors: true

- name: Get events for target namespace
  shell: >
    {{ oc_tool_path }} get events --namespace {{ operator.name }}-target
  ignore_errors: true

- name: Get list of subscriptions for operator namespace
  shell: >
    {{ oc_tool_path }} get subs --namespace {{ operator.name }}
  ignore_errors: true

- name: Retrieve installed Subscription
  k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: Subscription
    namespace: "{{ operator.name }}"
  ignore_errors: true

- name: Get csv for operator namespace
  shell: >
    {{ oc_tool_path }} get csv --namespace {{ operator.name }}
  ignore_errors: true

- name: Check CSV with k8s_info
  k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: ClusterServiceVersion
    namespace: "{{ operator.name }}"
  ignore_errors: true

- name: Get preflight pods
  shell: >
    {{ oc_tool_path }} get pods --namespace {{ operator.name }}
  ignore_errors: true

- name: Get pod images
  shell: >
    {{ oc_tool_path }} get pods --namespace {{ operator.name }} -o jsonpath="{.items[*].spec.containers[*].image}"
  ignore_errors: true

- name: Retrieve preflight pods in a short form
  shell: >
    {{ oc_tool_path }} get pods --namespace {{ operator.name }} -o custom-columns=POD:.metadata.name --no-headers
  register: preflight_pods
  ignore_errors: true

- name: Retrieve logs
  shell: >
    {{ oc_tool_path }} logs pod/{{ pod_name }} --namespace {{ operator.name }}
  loop: "{{ preflight_pods.stdout.split('\n') }}"
  loop_control:
    loop_var: pod_name
  ignore_errors: true

- name: Describe all pods
  shell: >
    {{ oc_tool_path }} describe pod/{{ pod_name }} --namespace {{ operator.name }}
  loop: "{{ preflight_pods.stdout.split('\n') }}"
  loop_control:
    loop_var: pod_name
  ignore_errors: true
...