---
- name: Setup tmp scorecard folders
  block:
    - name: Create temporary scorecard directory
      tempfile:
        state: directory
        prefix: scorecard_tmp_dir.
      register: scorecard_tmp_dir

    - name: Set directories for artifacts and operator bundle extract
      set_fact:
        scorecard_artifacts: "{{ scorecard_tmp_dir.path }}/artifacts"
        scorecard_operator_dir: "{{ scorecard_tmp_dir.path }}/scorecard_operator_dir"

    - name: Create directories for artifacts and operator bundle extract
      file:
        path: "{{ scorecard_dir_to_create }}"
        state: directory
        mode: 0744
      loop:
        - "{{ scorecard_artifacts }}"
        - "{{ scorecard_operator_dir }}"
      loop_control:
        loop_var: scorecard_dir_to_create

- name: Exract operator bundle
  block:
    - name: Extract operator bundle and add read permissions
      shell:
        cmd: |
          oc image extract {{ operator.image }} --confirm -a {{ provisionhost_registry_creds }}
          chmod -R go+r ./
        chdir: "{{ scorecard_operator_dir }}"

    - name: Print extracted operator data
      shell: |
        tree "{{ scorecard_operator_dir }}"
      ignore_errors: true

- name: Retrieve operator index image in the connected environment
  set_fact:
    OO_INDEX: "{{ operator.index_image }}"

- name: Manage operator index image, which is containerized version of the catalog
  block:
    - name: Set tag for the index image
      set_fact:
        OO_INDEX: "{{ '/'.join([ provisionhost_registry ] + operator.index_image.split('/')[1:]) }}"

    - name: Build index image in temporary scorecard directory
      shell:
        cmd: |
          opm index add --pull-tool podman \
          --bundles {{ operator.image }} \
          --tag {{ OO_INDEX }}
        chdir: "{{ scorecard_tmp_dir.path }}"

    - name: Push index image into local registry
      shell: |
        podman push \
        --authfile {{ provisionhost_registry_creds }} \
        {{ OO_INDEX }}
  when: dci_disconnected | default(false) | bool

- name: Manage scorecard images mirroring
  block:
    - name: Load scorecard config - using scorecard-test-master
      set_fact:
        scorecard_config: "{{ lookup('file', 'files/scorecard-test-config.yaml') | from_yaml }}"

    - name: Get scorecard config images
      set_fact:
        config_images: "{{ scorecard_config.stages[0].tests | map(attribute='image') | list | unique }}"

    - name: Get busybox and ubi images from static file
      set_fact:
        busybox_images: "{{ lookup('file', 'files/scorecard-busybox-ubi.yaml') | from_yaml | json_query('images') | list | unique }}"

    - name: Merge all scorecard images in one list
      set_fact:
        scorecard_images: "{{ config_images + busybox_images }}"

    - name: Mirror scorecard images
      shell: |
        skopeo copy \
        --all \
        --remove-signatures \
        --authfile {{ provisionhost_registry_creds }} \
        --dest-tls-verify=false \
        docker://{{ item }} \
        docker://{{ provisionhost_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
      loop: "{{ scorecard_images }}"

    - name: Save catalog mirror to temporary scorecard directory
      shell: |
        oc adm catalog mirror -a {{ provisionhost_registry_creds }} \
        {{ OO_INDEX }} {{ provisionhost_registry }} --to-manifests={{ scorecard_tmp_dir.path }}/tmp_oc

    - name: Append to imageContentSourcePolicy
      blockinfile:
        block: |
          # Scorecard container
            - mirrors:
              - {{ provisionhost_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
              source: {{ item.split('@')[0] }}
        marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.split('@')[0] }}"
        path: "{{ scorecard_tmp_dir.path }}/tmp_oc/imageContentSourcePolicy.yaml"
      loop: "{{ scorecard_images }}"

    - name: Apply Image Content Source Policy
      k8s:
        definition: "{{ lookup('file', scorecard_tmp_dir.path + '/tmp_oc/imageContentSourcePolicy.yaml') }}"

    - name: Apply Image Content Source Policy
      k8s:
        definition: "{{ lookup('file', scorecard_tmp_dir.path + '/tmp_oc/imageContentSourcePolicy.yaml') }}"
  when: dci_disconnected | default(false) | bool

- name: Template scorecard config
  template:
    src: files/scorecard-test-config.yaml
    dest: "{{ scorecard_artifacts }}/scorecard-test-config.yaml"

- name: Set path to scorecard config
  set_fact:
    scorecard_config_path: "{{ scorecard_artifacts }}/scorecard-test-config.yaml"

- name: Create scorecard-testing namespace
  k8s:
    name: scorecard-testing
    api_version: v1
    kind: Namespace
    state: present

- name: Run operator-sdk scorecard --selector=test=basic-check-spec-test
  environment:
    - OPENSHIFT_AUTH: "{{ provisionhost_registry_creds }}"
    - OO_BUNDLE: "{{ operator.image }}"
    - OO_INDEX: "{{ OO_INDEX }}"
    - ARTIFACT_DIR: "{{ scorecard_artifacts }}"
  shell: |
    {{ operator_sdk_tool_path }} scorecard \
    --output json \
    --selector=test=basic-check-spec-test \
    --kubeconfig "{{ kubeconfig_path }}" \
    --namespace scorecard-testing \
    --service-account default \
    --config {{ scorecard_config_path }} \
    --verbose \
    --wait-time 300s \
    --untar-image registry.access.redhat.com/ubi8@sha256:910f6bc0b5ae9b555eb91b88d28d568099b060088616eba2867b07ab6ea457c7 \
    --storage-image docker.io/library/busybox@sha256:c71cb4f7e8ececaffb34037c2637dc86820e4185100e18b4d02d613a9bd772af \
    "{{ scorecard_operator_dir }}"
  ignore_errors: true
  async: 350
  poll: 0
  register: scorecard_exec

- name: Retrieve logs from openshift cluster
  block:
    - name: Check oc_tool_path
      debug:
        var: oc_tool_path

    - name: Check oc executable version and PATH env var
      shell: |
        echo $PATH
        {{ oc_tool_path }} version
        {{ operator_sdk_tool_path }} version
      ignore_errors: true

    - name: Wait 10 seconds
      pause:
        seconds: 10

    - name: Get more events for scorecard-testing namespace
      shell: |
        {{ oc_tool_path }} get events --namespace scorecard-testing
      ignore_errors: true

    - name: Get pods
      shell: |
        {{ oc_tool_path }} get pods --namespace scorecard-testing
      ignore_errors: true

    - name: Get pod images
      shell: |
        {{ oc_tool_path }} get pods --namespace scorecard-testing -o jsonpath="{.items[*].spec.containers[*].image}"
      ignore_errors: true

    - name: Retrieve pods-2
      shell: |
        {{ oc_tool_path }} get pods --namespace scorecard-testing -o custom-columns=POD:.metadata.name --no-headers
      register: preflight_pods
      ignore_errors: true

    - name: Retrieve logs
      shell: |
        {{ oc_tool_path }} logs pod/{{ pod_name }} --namespace scorecard-testing
      loop: "{{ preflight_pods.stdout.split('\n') }}"
      loop_control:
        loop_var: pod_name
      ignore_errors: true

    - name: Retrieve logs-2
      shell: |
        {{ oc_tool_path }} describe pod/{{ pod_name }} --namespace scorecard-testing
      loop: "{{ preflight_pods.stdout.split('\n') }}"
      loop_control:
        loop_var: pod_name
      ignore_errors: true

- name: Check on operator-sdk execution
  async_status:
    jid: "{{ scorecard_exec.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 7
  delay: 50
  ignore_errors: true

- name: Set prefix for scorecard output files
  set_fact:
    scorecard_prefix: "scorecard_{{ operator.image.split('@')[0].split('/')[-1] }}_{{ operator.index_image.split(':')[-1] }}"

- name: Copy scorecard basic-check-spec-test output into logs
  template:
    src: templates/scorecard-basic-check-spec-test.j2
    dest: "{{ job_logs.path }}/{{ scorecard_prefix }}_basic_check_spec_test.json"

- name: Run operator-sdk scorecard --selector=suite=olm
  environment:
    - OPENSHIFT_AUTH: "{{ provisionhost_registry_creds }}"
    - OO_BUNDLE: "{{ operator.image }}"
    - OO_INDEX: "{{ OO_INDEX }}"
    - ARTIFACT_DIR: "{{ scorecard_artifacts }}"
  shell: |
    {{ operator_sdk_tool_path }} scorecard \
    --output json \
    --selector=suite=olm \
    --kubeconfig "{{ kubeconfig_path }}" \
    --namespace scorecard-testing \
    --service-account default \
    --config {{ scorecard_config_path }} \
    --verbose \
    --wait-time 300s \
    "{{ scorecard_operator_dir }}"
  register: scorecard_exec
  ignore_errors: true

- name: Copy scorecard basic-check-spec-test output into logs
  template:
    src: templates/scorecard-basic-check-spec-test.j2
    dest: "{{ job_logs.path }}/{{ scorecard_prefix }}_suite_olm.json"

- name: Delete scorecard-testing namespace
  k8s:
    name: scorecard-testing
    api_version: v1
    kind: Namespace
    state: absent

- name: Remove tmp dir
  file:
    path: "{{ scorecard_tmp_dir.path }}"
    state: absent
...
