---
- name: Setup tmp scorecard folders
  block:
    - name: Create temporary scorecard directory
      tempfile:
        state: directory
        suffix: scorecard_tmp_dir
      register: scorecard_tmp_dir

    - name: Set directories for artifacts and operator bundle extract
      set_fact:
        scorecard_artifacts: "{{ scorecard_tmp_dir.path }}/artifacts"
        scorecard_operator_dir: "{{ scorecard_tmp_dir.path }}/scorecard_operator_dir"

    - name: Create directories for artifacts and operator bundle extract
      file:
        path: "{{ scorecard_dir_to_create }}"
        state: directory
        mode: 0744
      loop:
        - "{{ scorecard_artifacts }}"
        - "{{ scorecard_operator_dir }}"
      loop_control:
        loop_var: scorecard_dir_to_create

- name: Exract operator bundle
  block:
    - name: Extract operator bundle and add read permissions
      shell:
        cmd: |
          oc image extract {{ operator.image }} --confirm -a {{ provisionhost_registry_creds }}
          chmod -R go+r ./
        chdir: "{{ scorecard_operator_dir }}"

    - name: Print extracted operator data
      shell: |
        ls -lart "{{ scorecard_operator_dir }}"
      ignore_errors: true

- name: Manage operator index image, which is containerized version of the catalog
  block:
    - name: Set tag for the index image
      set_fact:
        OO_INDEX: "{{ provisionhost_registry }}/{{ operator.image.split('/')[-2] }}/index-{{ operator.image.split('/')[-1] }}"

    - name: Build index image in temporary scorecard directory
      shell:
        cmd: |
          opm index add --pull-tool podman \
          --bundles {{ operator.image }} \
          --tag {{ OO_INDEX }}
        chdir: "{{ scorecard_tmp_dir.path }}"

    - name: Push index image into local registry
      shell: |
        podman push \
        --authfile {{ provisionhost_registry_creds }} \
        {{ OO_INDEX }}
  when:
    - dci_disconnected is defined
    - dci_disconnected | bool

- name: Retireve operator index image in the connected environment
  set_fact:
    OO_INDEX: "{{ operator.index_image }}"
  when: dci_disconnected is undefined or not dci_disconnected | bool

- name: Manage scorecard images mirroring
  block:
    - name: Load scorecard config - using scorecard-test-master
      set_fact:
        scorecard_config: "{{ lookup('file', 'templates/scorecard-test-config.yaml.j2') | from_yaml }}"

    - name: Get scorecard config images
      set_fact:
        config_images: "{{ scorecard_config.stages[0].tests | map(attribute='image') | list | unique }}"

    - name: Load template with busybox and ubi images
      set_fact:
        busybox_config: "{{ lookup('file', 'templates/scorecard-busybox-ubi.yaml.j2') | from_yaml }}"

    - name: Get busybox and ubi images
      set_fact:
        busybox_images: "{{ busybox_config.images | list | unique }}"

    - name: Merge all scorecard images in one list
      set_fact:
        scorecard_images: "{{ busybox_images + config_images }}"

    - name: Mirror scorecard images
      shell: |
        skopeo copy \
        --all \
        --remove-signatures \
        --authfile {{ provisionhost_registry_creds }} \
        --dest-tls-verify=false \
        docker://{{ item }} \
        docker://{{ provisionhost_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
      loop: "{{ scorecard_images }}"

    - name: Save catalog mirror to temporary scorecard directory
      shell: |
        oc adm catalog mirror -a {{ provisionhost_registry_creds }} \
        {{ OO_INDEX }} {{ provisionhost_registry }} --to-manifests={{ scorecard_tmp_dir.path }}/tmp_oc

    - name: Append to imageContentSourcePolicy
      blockinfile:
        block: |
          # Scorecard container
            - mirrors:
              - {{ provisionhost_registry }}/{{ '/'.join(item.split('@')[0].split('/')[1:]) }}
              source: {{ item.split('@')[0] }}
        marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.split('@')[0] }}"
        path: "{{ scorecard_tmp_dir.path }}/tmp_oc/imageContentSourcePolicy.yaml"
      loop: "{{ scorecard_images }}"

    - name: Apply Image Content Source Policy
      k8s:
        definition: "{{ lookup('file', scorecard_tmp_dir.path + '/tmp_oc/imageContentSourcePolicy.yaml') }}"

    - name: Delay for policy to apply, there is no nodes to reboot anymore since ocp-4.7
      pause:
        minutes: 1
  when:
    - dci_disconnected is defined
    - dci_disconnected | bool

- name: Template scorecard config
  template:
    src: templates/scorecard-test-config.yaml.j2
    dest: "{{ scorecard_artifacts }}/scorecard-test-config.yaml"

- name: Set path to scorecard config
  set_fact:
    scorecard_config_path: "{{ scorecard_artifacts }}/scorecard-test-config.yaml"

- name: Create scorecard-testing namespace
  k8s:
    name: scorecard-testing
    api_version: v1
    kind: Namespace
    state: present

- name: Run operator-sdk scorecard --selector=test=basic-check-spec-test
  environment:
    - OPENSHIFT_AUTH: "{{ provisionhost_registry_creds }}"
    - OO_BUNDLE: "{{ operator.image }}"
    - OO_INDEX: "{{ OO_INDEX }}"
    - ARTIFACT_DIR: "{{ scorecard_artifacts }}"
  shell: |
    operator-sdk-flag scorecard \
    --output json \
    --selector=test=basic-check-spec-test \
    --kubeconfig "{{ kubeconfig_path }}" \
    --namespace scorecard-testing \
    --service-account default \
    --config {{ scorecard_config_path }} \
    --verbose \
    --wait-time 300s \
    --untar-image registry.access.redhat.com/ubi8@sha256:910f6bc0b5ae9b555eb91b88d28d568099b060088616eba2867b07ab6ea457c7 \
    --storage-image docker.io/library/busybox@sha256:c71cb4f7e8ececaffb34037c2637dc86820e4185100e18b4d02d613a9bd772af \
    "{{ scorecard_operator_dir }}"
  register: scorecard_exec
  ignore_errors: true

- name: Copy scorecard basic-check-spec-test output into logs
  template:
    src: templates/scorecard-basic-check-spec-test.j2
    dest: "{{ job_logs.path }}/scorecard_{{ operator.split('/')[-1] | replace(':', '_') }}_basic_check_spec_test.json"

- name: Run operator-sdk scorecard --selector=suite=olm
  environment:
    - OPENSHIFT_AUTH: "{{ provisionhost_registry_creds }}"
    - OO_BUNDLE: "{{ operator.image }}"
    - OO_INDEX: "{{ OO_INDEX }}"
    - ARTIFACT_DIR: "{{ scorecard_artifacts }}"
  shell: |
    operator-sdk-flag scorecard \
    --output json \
    --selector=suite=olm \
    --kubeconfig "{{ kubeconfig_path }}" \
    --namespace scorecard-testing \
    --service-account default \
    --config {{ scorecard_config_path }} \
    --verbose \
    --wait-time 300s \
    "{{ scorecard_operator_dir }}"
  register: scorecard_exec
  ignore_errors: true

- name: Copy scorecard basic-check-spec-test output into logs
  template:
    src: templates/scorecard-basic-check-spec-test.j2
    dest: "{{ job_logs.path }}/scorecard_{{ operator.image.split('/')[-1] | replace(':', '_') }}_suite_olm.json"

- name: Delete scorecard-testing namespace
  k8s:
    name: scorecard-testing
    api_version: v1
    kind: Namespace
    state: absent
...
