---
- name: Create temporary (container) preflight artifacts directory
  tempfile:
    state: directory
    prefix: preflight_container_artifacts.
  register: preflight_container_artifacts

    - name: Build environement variable for podman
      set_fact:
        preflight_podman_env: |
          -e {{ operator.env.keys() |
          zip(operator.env.values()) | 
          map('join', '=') |
          join(' -e ') }}
      when: operator.env is defined

- name: "Run preflight check bundle container for {{ operator.name }}"
  shell: >
    podman run
    -it
    --rm
    --pull=always
    --name preflight
    --privileged
    -e PFLT_JUNIT=true
    -e DOCKER_CONFIG=/opt
    -e PFLT_ARTIFACTS=/artifacts
    -e PFLT_LOGFILE=/artifacts/preflight.log
    -e PFLT_LOGLEVEL=trace
    -v {{ preflight_container_artifacts.path }}:/artifacts
    {{ preflight_podman_auth}}
    {{ preflight_podman_env | default() | trim }}
    {{ preflight_podman_ca }}
    {{ preflight_version }}
    check container
    {{ operator.bundle_image }}

- name: Upload logs for preflight check container into DCI
  vars:
    preflight_prefix: "preflight_container_{{ operator.name }}_{{ operator.version }}"
  copy:
    src: "{{ item }}"
    dest: "{{ job_logs.path }}/{{ preflight_prefix }}_{{ item | basename }}"
  with_fileglob:
    - "{{ preflight_container_artifacts.path }}/*"

- name: Remove tmp dir
  file:
    path: "{{ preflight_container_artifacts.path }}"
    state: absent

...
