---

# This task is used both in connected and disconnected env
# to retrieve scorecard-test image to run independent scorecard tests later on
- name: Run preflight runtime-assets to get scorecard-test image
  include_tasks: tests_runtime_assets.yml

# We need to do this at this point because preflight_operators_to_check
# may have been defined thanks to CNF Cert Suite output.
- name: Manage images mirroring for Preflight cert suite
  include_tasks: tests_mirroring.yml
  when: dci_disconnected | default(false) | bool

# If you want to run preflight tests,
# preflight_operators_to_check variable should be provided
# in the config file -e @path/to/preflight_config.yaml
- name: Preflight check operator bundle images one by one
  include_tasks: test_preflight_check_container.yml
  loop: "{{ preflight_operators_to_check }}"
  loop_control:
    loop_var: operator

- name: Preflight check operators one by one
  include_tasks: tests_preflight_check_operator.yml
  loop: "{{ preflight_operators_to_check }}"
  loop_control:
    loop_var: operator

# If you want to run operator-sdk scorecard tests,
# operator_sdk_tool_path variable should be provided
# in the config file -e @path/to/preflight_config.yaml
- name: Display fail message if the path to operator-sdk binary is not provided
  fail:
    msg: Impossible to run operator-sdk tests. Please provide operator_sdk_tool_path variable in config file.
  when: operator_sdk_tool_path is undefined
  ignore_errors: true

# These tests are here to retrieve the logs,
# which are not displayed by preflight.
# TODO: remove them once the issue is fixed
# https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/169
- name: Scorecard tests
  include_tasks: tests_scorecard_check_operator.yml
  loop: "{{ preflight_operators_to_check }}"
  loop_control:
    loop_var: operator
  when: operator_sdk_tool_path is defined
...
