---
- name: "Retrieve logs for {{ operator.name }} each 50 seconds (global Preflight timeout = 180 seconds)"
  vars:
    attempts:
      - one
      - two
      - three
  include_tasks: test_async_logs_details.yml
  loop: "{{ attempts }}"
  loop_control:
    loop_var: attempt
...
