---
- name: Create temporary (container) preflight artifacts directory
  tempfile:
    state: directory
    prefix: preflight_container_artifacts.
  register: preflight_container_artifacts

- name: Set pyxis auth and submission for check container
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
  set_fact:
    pyxis_auth_container: >-
      --certification-project-id {{ operator.pyxis_container_identifier }}
      --pyxis-api-token {{ pyxis_apikey }}
      --submit
  when: operator.pyxis_container_identifier is defined
  no_log: true

- name: "Run preflight check container on operator image for {{ current_operator_image }} with preflight binary"
  shell: >
    cd {{ preflight_container_artifacts.path }};
    {{ preflight_docker_config_env | default('') }}
    PFLT_JUNIT=true
    PFLT_ARTIFACTS={{ preflight_container_artifacts.path }}
    PFLT_LOGFILE={{ preflight_container_artifacts.path }}/preflight.log
    PFLT_LOGLEVEL=trace
    {{ preflight_binary_dir }}/preflight
    check container
    {{ current_operator_image }}
    {{ preflight_podman_auth_for_binary | default('') }}
    {{ pyxis_auth_container | default('') }}
  register: preflight_container_output
  no_log: true

- name: Upload logs for preflight check container into DCI
  vars:
    image_name: "{{ current_operator_image | regex_search('.*/([^@:]+).*$', '\\1') | join('') }}"
    preflight_prefix: "preflight_container_{{ operator.name }}_{{ operator.version }}_{{ image_name }}"
  copy:
    src: "{{ item }}"
    dest: "{{ job_logs.path }}/{{ preflight_prefix }}_{{ item | basename }}"
  with_fileglob:
    - "{{ preflight_container_artifacts.path }}/*"

- name: Unset pyxis auth to not reuse by following containers
  set_fact:
    pyxis_auth_container: ""

- name: Remove tmp dir
  file:
    path: "{{ preflight_container_artifacts.path }}"
    state: absent

- name: "Verify Pyxis submission for {{ current_operator_image }}"
  block:
    - name: Send GET query
      vars:
        pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
      uri:
        url: "{{ pyxis_url }}/{{ operator.pyxis_container_identifier }}/test-results"
        method: GET
        headers:
          X-API-KEY: "{{ pyxis_apikey }}"
      register: verify_container_submission

    - name: debug
      debug:
        msg: |
          submission_event: {{ verify_container_submission | json_query('json.data[-1].last_update_date') }}
          submission_time: {{ submission_event[:19] }}
          current_time: {{ ansible_date_time.iso8601[:19] }}
          time_diff: {{ ( current_time | to_datetime('%Y-%m-%dT%H:%M:%S')
                    - submission_time | to_datetime('%Y-%m-%dT%H:%M:%S') )
                    .total_seconds() // 60 }}

    - name: Verify that submission happened less than ten minutes ago
      vars:
        submission_event: "{{ verify_container_submission | json_query('json.data[-1].last_update_date') }}"
        submission_time: "{{ submission_event[:19] }}"
        current_time: "{{ ansible_date_time.iso8601[:19] }}"
        time_diff: "{{ ( current_time | to_datetime('%Y-%m-%dT%H:%M:%S')
                    - submission_time | to_datetime('%Y-%m-%dT%H:%M:%S') )
                    .total_seconds() // 60 }}"
      fail:
        msg: "It seems like Pyxis submission for check container failed"
      when: time_diff | int >= 1
  when: operator.pyxis_container_identifier is defined
...
