---
- name: Create temporary (container) preflight artifacts directory
  tempfile:
    state: directory
    prefix: preflight_container_artifacts.
  register: preflight_container_artifacts

- name: "Run preflight check bundle container for {{ operator.name }} with podman"
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
  shell: >
    podman run
    -it
    --rm
    --pull=always
    --name preflight
    --privileged
    -e PFLT_JUNIT=true
    -e DOCKER_CONFIG=/opt
    -e PFLT_ARTIFACTS=/artifacts
    -e PFLT_LOGFILE=/artifacts/preflight.log
    -e PFLT_LOGLEVEL=trace
    -v {{ preflight_container_artifacts.path }}:/artifacts
    {{ preflight_podman_auth }}
    {{ preflight_podman_ca }}
    {{ preflight_version }}
    check container
    {{ operator.operator_image }}
    --certification-project-id {{ operator.pyxis_identifier }}
    --pyxis-api-token {{ pyxis_apikey }}
  when: not preflight_use_binary | bool

# Preflight 1.0.8 requires to use podman run.
# Preflight 1.1.0-alpha2 requires to use binary because some container tests fail.
# The next Preflight release will require to use podman run again.
- name: "Run preflight check container for {{ operator.name }}"
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
    preflight_binary_path: "/opt/cache/preflight/{{ preflight_version.split(':')[-1] }}/preflight"
  # --submit option could not be used because of broken Pyxis APIs
  # The release to fix that is expected on 08/03/2022
  shell: >
    cd {{ preflight_container_tmp_dir.path }};
    DOCKER_CONFIG={{ preflight_repoconfig }}
    PFLT_JUNIT=true
    PFLT_ARTIFACTS={{ preflight_artifacts }}
    PFLT_LOGFILE={{ preflight_artifacts }}/preflight.log
    PFLT_LOGLEVEL=trace
    {{ preflight_binary_path }}
    check container
    {{ operator.operator_image }}
    --certification-project-id {{ operator.pyxis_identifier }}
    --pyxis-api-token {{ pyxis_apikey }}
    --docker-config {{ preflight_repoconfig }}/config.json
  when: preflight_use_binary | bool

- name: Upload logs for preflight check container into DCI
  vars:
    preflight_prefix: "preflight_container_{{ operator.name }}_{{ operator.version }}"
  copy:
    src: "{{ item }}"
    dest: "{{ job_logs.path }}/{{ preflight_prefix }}_{{ item | basename }}"
  with_fileglob:
    - "{{ preflight_container_artifacts.path }}/*"

- name: Remove tmp dir
  file:
    path: "{{ preflight_container_artifacts.path }}"
    state: absent

...
