---

# Check if KUBECONFIG is present

- name: "Read KUBECONFIG path from env vars"
  set_fact:
    kubeconfig_path: "{{ lookup('env','KUBECONFIG') }}"
  when: kubeconfig_path is not defined

- name: "Check if KUBECONFIG exists"
  stat:
    path: "{{ kubeconfig_path }}"
  register: kubeconfig

- name: "Fail if kubeconfig NOT found"
  fail:
    msg: "kubeconfig not found at {{ kubeconfig_path }}"
  when: not kubeconfig.stat.exists

- name: "Create App Agent working directory"
  tempfile:
    state: directory
    prefix: dci_app_agent.
  register: app_agent_dir

- name: "Download latest oc client, overrided later"
  unarchive:
    src: "{{ ocp_clients_url }}/openshift-client-linux.tar.gz"
    dest: "{{ app_agent_dir.path }}"
    remote_src: true
    mode: 0755

# get OCP version and set dci_topic
- name: "Get oc version output"
  command: "{{ app_agent_dir.path }}/oc --kubeconfig {{ kubeconfig_path }} version"
  register: oc_version_str

- name: "Set facts for OCP version"
  set_fact:
    ocp_version_full: "{{ item.split(':')[1].strip() }}"
    ocp_version: "{{ '.'.join(item.split(':')[1].strip().split('.')[0:2]) }}"
    ocp_version_maj: "{{ item.split(':')[1].strip().split('.')[0] }}"
    ocp_version_min: "{{ item.split(':')[1].strip().split('.')[1] }}"
    ocp_version_patch: "{{ item.split(':')[1].strip().split('.')[2] }}"
  when: "'Server Version' in item"
  loop: "{{ oc_version_str.stdout_lines }}"

- name: "Fail if the ocp version is not set"
  fail:
    msg: "OCP version is not set"
  when: not ocp_version

- name: "Set dci_topic"
  set_fact:
    dci_topic: "OCP-{{ ocp_version }}"

# get OCP cluster name
- name: "Get cluster name"
  command: "{{ app_agent_dir.path }}/oc --kubeconfig {{ kubeconfig_path }} config view -o jsonpath='{.clusters[0].name}'"
  register: cluster_name_cmd

- name: "Set cluster_name variable"
  set_fact:
    cluster_name: "{{ cluster_name_cmd.stdout }}"

# Download clients according cluster version
- name: "Untar OCP clients"
  unarchive:
    src: "{{ ocp_clients_url }}-4.6/{{ client_name }}-linux.tar.gz"
    dest: "{{ app_agent_dir.path }}"
    remote_src: true
    mode: 0755
  loop: "{{ ocp_clients }}"
  loop_control:
    loop_var: client_name
  when: ocp_clients is defined
...
