---
- name: "Create a temporary directory for job_logs"
  file:
    path: "/var/tmp/dci_{{ job_id }}_logs"
    state: directory
  register: job_logs

- name: "Download and install missing clients"
  block:
    - name: "Create client lists when not present"
      set_fact:
        client_list: "{{ (['openshift-client'] if oc_result.rc != 0 else []) + ['opm'] if opm_result.rc != 0 else [] }}"
        bin_client_list: "{{ (['oc'] if oc_result.rc != 0 else []) + ['opm'] if opm_result.rc != 0 else [] }}"

    - name: "Untar clients when not present"
      unarchive:
        src: "{{ ocp_clients_url }}/{{ item }}-linux.tar.gz"
        dest: "/tmp"
        remote_src: true
      loop: "{{ client_list }}"

    - name: "Copy clients to /usr/local/bin/"
      copy:
        src: "/tmp/{{ item }}"
        dest: "/usr/local/bin/"
        mode: u=rwx,g=rx,o=rx
      become: true
      loop: "{{ bin_client_list }}"

  when: oc_result.rc != 0 or opm_result.rc != 0

- name: "Configure clients PATH"
  set_fact:
    oc_tool_path: "{{ oc_result.stdout if oc_result.rc == 0 else '/usr/local/bin/oc' }}"
    opm__tool_path: "{{ opm_result.stdout if opm_result.rc == 0 else '/usr/local/bin/opm' }}"
  when: oc_result.rc != 0

- name: "cnf-cert pre-run"
  include_role:
    name: cnf-cert
    tasks_from: pre-run.yml
  vars:
    tnf_git_dir: "{{ dci_cache_dir }}"
    tnf_registry: "{{ local_registry_host }}:{{ local_registry_port }}"
    tnf_registry_creds: "{{ local_registry_user }}:{{ local_registry_password }}"
  when: do_cnf_cert is defined and do_cnf_cert|bool

...
