---

- name: "Setup job_logs directory"
  include_tasks: plays/log-dir.yml
  when: job_logs is undefined

- name: "cnf-cert pre-run"
  include_role:
    name: cnf-cert
    tasks_from: pre-run.yml
  when: do_cnf_cert|bool

...
