apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: volume-claim-{{ app_ns }}
  namespace: {{ app_ns }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {% if volume_provisioner == 'local' %}local-storage{% else %}default-trident-storage{% endif %}
{% if volume_provisioner == 'local' %}
  volumeMode: Filesystem
  selector:
    matchLabels:
      cnf: { app_ns }}
{% endif %}
