---
- name: Handle the situation when cert project already exists
  include_tasks: check_if_container_project_exists.yml
  when: check_for_existing_projects | bool

- name: Create container project
  include_tasks: create_project.yml

- name: Update the project with company info when cert_settings is defined
  include_tasks: update_container_project.yml
  when:
    - cert_settings is defined
    - cert_project_id is defined

- name: Set container project to store new projects for later merging with existing IDs
  set_fact:
    new_container_projects: "{{ new_container_projects | default([]) + [cert_project_id] }}"
  when: cert_project_id is defined
...