---
- name: Get GitHub username from provided token
  include_tasks: get-gh-username.yml
  when: project_type == 'operator'

- name: Set container image facts
  set_fact:
    image_name: "{{ current_operator_image.split('@')[0].split(':')[0].split('/')[-1] }}"
    repo_name: "{{ current_operator_image.split('@')[0].split(':')[0].split('/')[1] }}"
    registry_name: "{{ current_operator_image.split('@')[0].split(':')[0].split('/')[0] }}"
  when: project_type == 'container'

- name: Set operator image facts
  set_fact:
    image_name: "{{ operator.bundle_image.split('@')[0].split(':')[0].split('/')[-1] }}"
    repo_name: "{{ operator_bundle_image.split('@')[0].split(':')[0].split('/')[1] }}"
    registry_name: "{{ operator_bundle_image.split('@')[0].split(':')[0].split('/')[0] }}"
  when: project_type == 'operator'

- name: Get certification projects from organization
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
  uri:
    url: "{{ verify_project_url }}/{{ cert_settings.organization_id }}/projects/certification?page_size=200&page=0"
    method: GET
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    status_code: 200
    timeout: 120
  register: cert_project_list_output
  retries: 20
  delay: 3
  until:
    - not cert_project_list_output.failed | bool
  when:
    - cert_settings.organization_id is defined

- name: "Get certification projects information from the organization using image {{ image_name }} if exists"
  set_fact:
    cert_project_data: "{{ cert_project_list_output.json.data | to_json | from_json | json_query(query_data) }}"
  vars:
    query_data: "[?contains(name, '{{ image_name }}')]"
  when:
    - not cert_project_list_output.failed | bool

- name: "Set fact if {{ image_name }} is already in an active certification project"
  set_fact:
    cert_project_exists_own_org: true
  loop: "{{ cert_project_data }}"
  loop_control:
    label: "{{ item._id }}"
  when:
    - not cert_project_list_output.failed | bool
    - cert_project_data != []
    - item.container.registry == registry_name
    - item.container.repository.split('/')[0] == repo_name
    - item.name == image_name
    - item.project_status == "active"

- name: "Notify if image {{ image_name }} is already in an active certification project"
  debug:
    msg:
      - "Image {{ registry_name }}/{{ repo_name }}/{{ image_name }} is in process to get certify in another project of this organization"
      - "Review the following projects: {{ item._id }}"
      - "To continue archive the project or reach out to support to delete it."
  loop: "{{ cert_project_data }}"
  loop_control:
    label: "{{ item._id }}"
  when:
    - cert_project_exists_own_org | default(false) | bool
    - item.container.registry == registry_name
    - item.container.repository.split('/')[0] == repo_name
    - item.name == image_name
    - item.project_status == "active"

- name: Tasks to create certification project
  block:
    - name: Print JSON draft for the project to be created
      vars:
        template_filename: "templates/create_project_{{ project_type }}.json.j2"
      debug:
        msg: "{{ lookup('template', template_filename) }}"

    - name: Create certification project
      vars:
        pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
        template_filename: "templates/create_project_{{ project_type }}.json.j2"
      uri:
        url: "{{ create_project_url }}"
        method: POST
        headers:
          X-API-KEY: "{{ pyxis_apikey }}"
        body_format: json
        body: "{{ lookup('template', template_filename) }}"
        status_code: 201
        timeout: 120
      register: cert_project_output
      ignore_errors: true

    - name: "Set fact if {{ image_name }} exists in a certification project from another organization"
      set_fact:
        cert_project_exists_other_org: true
      when:
        - cert_project_output.failed | bool
        - "'You cannot change container.repository and container.registry fields to specified values as the combination would no longer be unique' in cert_project_output.json.detail"

    - name: Print message if image exists in another organization
      debug:
        msg:
          - "Image {{ registry_name }}/{{ repo_name }}/{{ image_name }} is present in a certification project of another organization"
          - "Hence, certification project cannot be created. Reach out support for further information of how to proceed."
      when:
        - cert_project_exists_other_org | default(false) | bool

    - name: Additional tasks to add certification project settings
      block:
        - name: Set project ID to reuse it later
          set_fact:
            cert_project_id: "{{ cert_project_output.json | json_query('_id') }}"

        - name: Set and save project IDs to use with Product-Listing PATCH and Attachment
          set_fact:
            cert_projects: "{{ cert_projects | default([]) + [ cert_project_id ] }}"

        - name: Print cert projects testing
          debug:
            msg: "{{ cert_projects }}"

        - name: Update certification project Settings
          vars:
            pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
            template_filename: "templates/update_project_{{ project_type }}_setting.json.j2"
          uri:
            url: "{{ create_project_url }}/id/{{ cert_project_id }}"
            method: PATCH
            headers:
              X-API-KEY: "{{ pyxis_apikey }}"
            body_format: json
            body: "{{ lookup('template', template_filename) }}"
            status_code: [200]
            timeout: 120
          register: update_cert_project_output
          when: cert_settings is defined

        - name: Set pyxis_product_list_identifier if cert product list is already here
          set_fact:
            pyxis_product_list_identifier: "{{ cert_listings.pyxis_product_list_identifier }}"
          when:
            - cert_listings is defined
            - cert_listings.pyxis_product_list_identifier  | default('') | length

        - name: Patch product list to attach Prod-List ID to container project
          vars:
            pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
            template_filename: "templates/attach_product_{{ project_type }}_listing.json.j2"
          uri:
            url: "{{ create_product_url }}/id/{{ pyxis_product_list_identifier }}"
            method: PATCH
            headers:
              X-API-KEY: "{{ pyxis_apikey }}"
            body_format: json
            body: "{{ lookup('template', template_filename) }}"
            status_code: [200]
            timeout: 120
          register: attach_cert_product_list_status
          when:
            - cert_listings is defined
            - cert_listings.pyxis_product_list_identifier  | default('') | length
      when:
        - not cert_project_exists_other_org | default(false) | bool
  when:
    - not cert_project_exists_own_org | default(false) | bool
...
