---
- name: Get GitHub username from provided token
  include_tasks: get-gh-username.yml
  when: project_type == 'operator'

- name: Print JSON draft for the project to be created
  vars:
    template_filename: "templates/create_project_{{ project_type }}.json.j2"
  debug:
    msg: "{{ lookup('template', template_filename) }}"

- name: Create certification project
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
    template_filename: "templates/create_project_{{ project_type }}.json.j2"
  uri:
    url: "{{ create_project_url }}"
    method: POST
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', template_filename) }}"
    status_code: 201
    timeout: 120
  register: cert_project_output

- name: Set project ID to reuse it later
  set_fact:
    cert_project_id: "{{ cert_project_output.json | json_query('_id') }}"

- name: Set and save project IDs to use with Product-Listing PATCH and Attachment
  set_fact:
    cert_projects: "{{ cert_projects | default([]) + [ cert_project_id ] }}"

- name: Print cert projects testing
  debug:
    msg: "{{ cert_projects }}"

- name: Update certification project Settings
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
    template_filename: "templates/update_project_{{ project_type }}_setting.json.j2"
  uri:
    url: "{{ create_project_url }}/id/{{ cert_project_id }}"
    method: PATCH
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', template_filename) }}"
    status_code: [200]
    timeout: 120
  register: update_cert_project_output
  when: cert_settings is defined

- name: Set pyxis_product_list_identifier if cert product list is already here
  set_fact:
    pyxis_product_list_identifier: "{{ cert_listings.pyxis_product_list_identifier }}"
  when: cert_listings.pyxis_product_list_identifier  | default('') | length

- name: Patch product list to attach Prod-List ID to container project
  vars:
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"
    template_filename: "templates/attach_product_{{ project_type }}_listing.json.j2"
  uri:
    url: "{{ create_product_url }}/id/{{ pyxis_product_list_identifier }}"
    method: PATCH
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', template_filename) }}"
    status_code: [200]
    timeout: 120
  register: attach_cert_product_list_status
  when: cert_listings is defined
...
