---
- name: Create certification project for the operator
  include_tasks: create_cert_project_operator.yml
  when: project_type == 'operator'

- name: Create certification project for the container
  include_tasks: create_cert_project_container.yml
  when: project_type == 'container'
...
