---
{% if target_namespaces is defined and target_namespaces != '0' %}

targetNameSpaces:
  - name: {{ tnf_ns }}
targetPodLabels:
{% if tnf_targetpodlabels_name|length and tnf_targetpodlabels_value|length %}
  - prefix: test-network-function.com
    name: {{ tnf_targetpodlabels_name }}
    value: {{ tnf_targetpodlabels_value }}
{% endif %}

{% else %}

targetPodLabels:
{% if tnf_targetpodlabels_name|length and tnf_targetpodlabels_value|length %}
  - namespace: {{ tnf_ns }}
    name: {{ tnf_targetpodlabels_name }}
    value: {{ tnf_targetpodlabels_value }}
{% endif %}

{% endif %}

certifiedcontainerinfo:

certifiedoperatorinfo:

...
