---
targetPodLabels:
{% if tnf_targetpodlabels_name|length and tnf_targetpodlabels_value|length %}
  - namespace: {{ tnf_ns }}
    name: {{ tnf_targetpodlabels_name }}
    value: {{ tnf_targetpodlabels_value }}
{% endif %}

certifiedcontainerinfo:

certifiedoperatorinfo:

...