---
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' %}
targetPodLabels:
{% if tnf_ns and tnf_targetpodlabels_name and tnf_targetpodlabels_value %}
  - namespace: {{ tnf_ns }}
    name: {{ tnf_targetpodlabels_name }}
    value: {{ tnf_targetpodlabels_value }}
{% endif %}
{% endif %}

generic:
  containersUnderTest:
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' and not tnf_disable_autodiscover_pods|bool %}
    # autodiscovering enabled
{% else %}
{% for pod in tnf_pod_list.resources %}
{% if ( pod.metadata.name | regex_search(tnf_cnfs_regexp) ) %}
{% for container in pod.spec.containers %}
    - namespace: {{ tnf_ns }}
      podName: {{ pod.metadata.name }}
      containerName: {{ container.name }}
      defaultNetworkDevice: {{ tnf_if }}
{% endfor %}
{% else %}
    # {{ pod.metadata.name }}
{% endif %}
{% endfor %}
{% endif %}
  partnerContainers:
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' and not tnf_disable_autodiscover_pods|bool %}
    # autodiscovering enabled
{% else %}
{% for pod in tnf_ns_partner_pod_list.resources %}
{% for container in pod.spec.containers %}
{% if container.name == 'partner' %}
    - namespace: tnf
      podName: {{ pod.metadata.name }}
      containerName: {{ container.name }}
      defaultNetworkDevice: {{ tnf_if }}
{% else %}
    # {{ pod.metadata.name }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
  testOrchestrator:
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' and not tnf_disable_autodiscover_pods|bool %}
    # autodiscovering enabled
{% else %}
{% for pod in tnf_ns_partner_pod_list.resources %}
{% for container in pod.spec.containers %}
{% if container.name == 'partner' %}
    namespace: tnf
    podName: {{ pod.metadata.name }}
    containerName: {{ container.name }}
{% else %}
    # {{ pod.metadata.name }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
  excludeContainersFromConnectivityTests:
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' and not tnf_disable_autodiscover_pods|bool %}
    # autodiscovering enabled
{% else %}
{% for pod in tnf_pod_list.resources %}
{% if ( pod.metadata.name | regex_search(tnf_exclude_connectivity_regexp) ) %}
{% for container in pod.spec.containers %}
    - namespace: {{ tnf_ns }}
      podName: {{ pod.metadata.name }}
      containerName: {{ container.name }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

cnfs:
{% if autodiscovering_enabled is defined and autodiscovering_enabled != '0' and not tnf_disable_autodiscover_pods|bool %}
  # autodiscovering enabled
{% else %}
{% for pod in tnf_pod_list.resources %}
{% if ( pod.metadata.name | regex_search(tnf_cnfs_regexp) ) %}
  - name: {{ pod.metadata.name }}
    namespace: {{ tnf_ns }}
    tests:
      - PRIVILEGED_POD
      - PRIVILEGED_ROLE
{% else %}
# {{ pod.metadata.name }}
{% endif %}
{% endfor %}
{% endif %}

operators:
{% for csv in tnf_csv_list.resources %}
{% if ( csv.metadata.name | regex_search(tnf_operators_regexp) ) %}
  - name: {{ csv.metadata.name }}
    namespace: {{ tnf_ns }}
    subscriptionName: etcd
    autogenerate: false
    tests:
      - OPERATOR_STATUS
{% else %}
# {{ csv.metadata.name }}
{% endif %}
{% endfor %}

certifiedcontainerinfo:

certifiedoperatorinfo:

...