---
- name: Retrieve results of the preflight tests
  vars:
    preflight_prefix: "preflight_{{ operator.image.split('@')[0].split('/')[-1] }}_{{ operator.index_image.split(':')[-1] }}"
    preflight_results_file: "{{ job_logs.path }}/{{ preflight_prefix }}_results.json"
  set_fact:
    preflight_results: "{{ lookup('file', preflight_results_file) | from_json }}"

- name: Do not submit preflight results if there are errors or fails
  fail:
    msg: "Please check {{ preflight_prefix }}_results.json, it contains errors or failed tests. These results will not be submitted."
  when: preflight_output | json_query('results.errors') | length > 0 or
        preflight_output | json_query('results.failed') | length > 0

- name: Print JSON to be submitted
  debug:
    msg: "{{ lookup('template', 'templates/test_results.json.j2') }}"

- name: Submit to Pyxis
  uri:
    url: "{{ pyxis_url }}/{{ pyxis_identifier }}/test-results"
    method: POST
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', 'templates/test_results.json.j2') }}"
    status_code: 201
    timeout: 120
...
